$JQueryUI:true !default;
@includeCore 'base/global.scss';
@includeCore 'base/form.scss';
@includeCore 'base/page.scss';
@includeCore 'base/table.scss';
@includeCore 'base/menu.scss';
@includeCore 'base/pager.scss';
@includeCore 'base/springbok-header.scss';
@includeCore 'base/actions.scss';
@includeCore 'base/icons.scss';
@if $JQueryUI{
	@includeCore 'base/ui.scss';
}
@includeCore 'base/ajax.scss';

@includeCore 'base/small-sizes.scss';