$IE_COMPATIBILITY:true !default;

@mixin boxShadow($color,$blur:false,$hOffset:0,$vOffset:0,$spread:false,$inset:false){
	@if $color == none{ $color:0; }
	@if $color == 0{
		@include boxShadows(0);
	}@else{
		@if type-of($color)=='list'{ $blur:nth($color,2); $color:nth($color,1); }
		$full:$hOffset $vOffset;
		@if $blur{ $full:$full $blur; }
		@if $spread{ $full:$full $spread; }
		$full:$full $color;
		@if $inset{ $full:inset $full; }
		/* @include boxShadows($full); */
		box-shadow:$full;
		/* http://msdn.microsoft.com/en-us/library/ms532985(v=vs.85).aspx
		@if $IE_COMPATIBILITY and  $inset==false{
			@if $hOffset==0 and $vOffset==0 and $blur{
				$max:max(-$blur/1px,$blur/1px); $min:min(-$blur/1px,$blur/1px);
				filter:
					progid:DXImageTransform.Microsoft.DropShadow(color='#{$color}', offX=#{$max}, offY=0),
					progid:DXImageTransform.Microsoft.DropShadow(color='#{$color}', offX=#{$min}, offY=0),
					progid:DXImageTransform.Microsoft.DropShadow(color='#{$color}', offX=0, offY=#{$max}),
					progid:DXImageTransform.Microsoft.DropShadow(color='#{$color}', offX=0, offY=#{$min});
			}@else{
				@if $blur{
					@if $vOffset==0{
						$max:max(-$hOffset/1px,$hOffset/1px); $min:min(-$hOffset/1px,$hOffset/1px);
						filter:
							progid:DXImageTransform.Microsoft.DropShadow(color='#{$color}', offX=#{$max}, offY=0),
							progid:DXImageTransform.Microsoft.DropShadow(color='#{$color}', offX=#{$min}, offY=0);
					}@else{
						$maxH:max(-$hOffset/1px,$hOffset/1px); $minH:min(-$hOffset/1px,$hOffset/1px);
						$maxV:max(-$vOffset/1px,$vOffset/1px); $minV:min(-$vOffset/1px,$vOffset/1px);
						filter:
							progid:DXImageTransform.Microsoft.DropShadow(color='#{$color}', offX=#{$maxH}, offY=#{$maxH}),
							progid:DXImageTransform.Microsoft.DropShadow(color='#{$color}', offX=#{$minH}, offY=#{$maxH}),
							progid:DXImageTransform.Microsoft.DropShadow(color='#{$color}', offX=#{$maxH}, offY=#{$minV}),
							progid:DXImageTransform.Microsoft.DropShadow(color='#{$color}', offX=#{$minH}, offY=#{$minV});
					}
				}@else{
					filter:progid:DXImageTransform.Microsoft.DropShadow(color='#{$color}', offX=$hOffset, offY=$vOffset);
				}
			}
		}
		*/
		/*@if $hOffset==0 and $vOffset==1px{
			// http://www.marcuspope.com/blog/Less-CSS-Mixins-for-cross-browser-styles
			filter: 
				progid:DXImageTransform.Microsoft.Shadow(color='#{$color}',direction=180,strength=4), 
				progid:DXImageTransform.Microsoft.Shadow(color='#{$color}',direction=225,strength=4), 
				progid:DXImageTransform.Microsoft.Shadow(color='#{$color}',direction=270,strength=5);
		}*/
	}
}

@mixin insetBoxShadow($color,$blur:false,$hOffset:0,$vOffset:0,$spread:false){
  @include boxShadow($color,$blur,$hOffset,$vOffset,$spread,true);
}

@mixin boxShadows($shadow1,$shadow2:false,$shadow3:false,$shadow4:false,$shadow5:false,$shadow6:false,$shadow7:false,$shadow8:false,$shadow9:false,$shadow10:false){
  $shadow:compact($shadow1,$shadow2,$shadow3,$shadow4,$shadow5,$shadow6,$shadow7,$shadow8,$shadow9,$shadow10);
 /* -moz-box-shadow:$shadow;
  -webkit-box-shadow:$shadow;*/
  box-shadow:$shadow;
}

@mixin borderRadiusBottom($length){
  border-bottom-right-radius: $length;
  border-bottom-left-radius: $length;
}
@mixin borderRadiusTop($length){
  border-top-right-radius: $length;
  border-top-left-radius: $length;
}
@mixin borderRadiusRight($length){
  border-top-right-radius: $length;
  border-bottom-right-radius: $length;
}
@mixin borderRadiusLeft($length){
  border-top-left-radius: $length;
  border-bottom-left-radius: $length;
}

@mixin background($background,$forceResetIeFilter:false){
  @if type-of($background)=='list'{ @include bg-gradient-tb(nth($background,1),nth($background,2)); }
  @else if $background{ background:$background; @if $forceResetIeFilter { @if $IE_COMPATIBILITY{filter:progid:DXImageTransform.Microsoft.gradient(enabled=false); } } }
}

@mixin border($border,$ifColorCreateBasicBorder:false){
	@if type-of($border)=='color'{ @if($ifColorCreateBasicBorder){ border:1px solid $border; }@else{ border-color:$border; } }
	@else if $border{
	  $borderTRBL:false;
	  @if type-of($border)=='list'{
	    $borderTRBL:type-of(nth($border,1))=='list';
	    @if $borderTRBL == false{
	      $borderTRBL:type-of(nth($border,1))=='bool';
	    }
	  }
	  @if $borderTRBL{
	    @if nth($border,1){ border-top:nth($border,1); }
	    @if nth($border,2){ border-right:nth($border,2); }
	    @if nth($border,3){ border-bottom:nth($border,3); }
	    @if nth($border,4){ border-left:nth($border,4); }
	  }@else{
  	  border:$border;
  	}
	 }
}


@mixin bg-gradient-tb($top,$bottom,$amount:10%){
  @if $top==true{ $top:lighten($bottom,$amount) }
  @else if $bottom==true{ $bottom:lighten($top,$amount) }
  @if lightness($top) > lightness($bottom){ background:$top; } @else { background:$bottom; } /* Old browsers */
  @if $IE_COMPATIBILITY{ filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$top}',endColorstr='#{$bottom}',GradientType=0); /* IE6-9 */ }
  background: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $top 0%,$bottom 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(top, $top 0%,$bottom 100%); /* W3C */
}

@mixin bg-gradient-lr($left,$right,$amount:10%){
  @if $left==true{ $left:lighten($right,$amount) }
  @else if $right==true{ $right:lighten($left,$amount) }
  @if lightness($left) > lightness($right){ background:$left; } /* Old browsers */
  @else{ background:$right; }
  @if $IE_COMPATIBILITY{ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$left}', endColorstr='#{$right}',GradientType=1 ); /* IE6-9 */ }
  background: -moz-linear-gradient(left, $left 0%, $right 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,$left), color-stop(100%,$right)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, $left 0%,$right 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, $left 0%,$right 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(left, $left 0%,$right 100%); /* IE10+ */
  background: linear-gradient(left, $left 0%,$right 100%); /* W3C */
}

@mixin bg-gradient-tb-m($top_bottom,$middle){
  background: $top_bottom; /* Old browsers */
  @if $IE_COMPATIBILITY{ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$top_bottom}', endColorstr='#{$middle}',GradientType=0 ); /* IE6-9 */ }
  background: -moz-linear-gradient(top, $top_bottom 0%, $middle 50%, $top_bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top_bottom), color-stop(50%,$middle), color-stop(100%,$top_bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $top_bottom 0%,$middle 50%,$top_bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $top_bottom 0%,$middle 50%,$top_bottom 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, $top_bottom 0%,$middle 50%,$top_bottom 100%); /* IE10+ */
  background: linear-gradient(top, $top_bottom 0%,$middle 50%,$top_bottom 100%); /* W3C */
}

@mixin webkitAntialiased{
  -webkit-font-smoothing: subpixel-antialiased; /* or antialiased; */
  -webkit-text-stroke: .04pt black;
}

@mixin textStroke($color:#000){
	-webkit-text-stroke: 1px $color;
	text-shadow:2px 2px 0 $color, -1px -1px 0 $color, 1px -1px 0 $color, -1px 1px 0 $color, 1px 1px 0 $color;
}

@includeCore 'mixins/types.scss';