@includeCore 'widgets/widgets';

.divInputBox{
	position:absolute;
	overflow:auto;
	z-index:5;
	box-shadow:1px 1px 4px;
}

* html .divInputBox { width:1px; } /* without this, the menu expands to 100% in IE6 */