@mixin type($i,$background,$color:false,$border:false){
  .block#{$i}{
    @extend .block;
  }
  //.block#{$i},.block#{$i} a,#page .clickable .block#{$i},ul.clickable .block#{$i} a,.block#{$i} a:hover,
  //     input.type#{$i}.submit,button.type#{$i},.button.type#{$i}{
  //      color:if($color,$color,$BodyColor);
  //}

	@if $color{
		.block#{$i},.block#{$i} a,#page .clickable .block#{$i},ul.clickable li.block#{$i} a,ul.clickable li.block#{$i} a:hover,
       input.type#{$i}.submit,button.type#{$i},.button.type#{$i}{
        color:$color;
  	}
	} @else {
		#page .clickable li.block#{$i},ul.clickable li.block#{$i} a,ul.clickable li.block#{$i} a:hover{
        color:$BodyColor;
       }
	}
  
  .block#{$i},#page .block#{$i},input.type#{$i}.submit,button.type#{$i},.button.type#{$i},.button.type#{$i}:hover,.button.type#{$i}:focus{
    @include background($background,true);
    @include border($border);
  }
}

@mixin typeHover($i,$background,$color:false,$border:false){
 #page .clickable .block#{$i}:hover,#page .clickable .block#{$i}:hover,input.type#{$i}.submit:hover,button.type#{$i}:hover,.button.type#{$i}:hover,.button.type#{$i}:focus{
    @include background($background,true);
    @if $color{ color:$color; }
    @include border($border);
  }
  @if $color{
    ul.clickable .block#{$i}:hover a,#page .clickable .block#{$i}:hover a{color:$color;}
  }
}

@mixin typeFocus($i,$background,$color:false,$border:false){
  #page .clickable .block#{$i}:focus,#page .clickable .block#{$i}:focus,input.type#{$i}.submit:focus,button.type#{$i}:focus,.button.type#{$i}:focus{
    @include background($background,true);
    @if $color{ color:$color; }
    @include border($border);
  }
  @if $color{
    ul.clickable .block#{$i}:focus a,#page .clickable .block#{$i}:focus a{color:$color;}
  }
}

@mixin typeBlock($i,$background,$color:false,$border:false,$borderRadius:false,$boxShadow:false){
  .block#{$i},div .block#{$i},#page .clickable .block#{$i}{
    @include background($background,true);
    @if $color{ color:$color; }
    @include border($border);
    @if $borderRadius{ border-radius:$borderRadius; }
    @if $boxShadow{ box-shadow:$boxShadow; }
  }
}

@mixin typeButton($i,$background,$color:false,$border:false,$textShadow:false,$boxShadow:false,$borderRadius:false){
  input.type#{$i}.submit,button.type#{$i},.button.type#{$i},input.type#{$i}.submit:hover,button.type#{$i}:hover,.button.type#{$i}:hover,.button.type#{$i}:focus{
    @include background($background,true);
    @if $color{ color:$color; }
    @include border($border);
    @if $textShadow{ text-shadow:$border; }
    @if $boxShadow{ box-shadow:$boxShadow; }
    @if $borderRadius{ border-radius:$borderRadius; }
  }
}
@mixin typeButtonHover($i,$background,$color:false,$border:false,$textShadow:false,$boxShadow:false,$borderRadius:false){
  input.type#{$i}.submit:hover,button.type#{$i}:hover,.button.type#{$i}:hover,.button.type#{$i}:focus{
    @include background($background,true);
    @if $color{ color:$color; }
    @include border($border);
    @if $textShadow{ text-shadow:$border; }
    @if $boxShadow{ box-shadow:$boxShadow; }
    @if $borderRadius{ border-radius:$borderRadius; }
  }
}