$BodyBackground:#555;
$BodyColor:#EEE;
$HeaderShadow:#FFF;
$HeaderBackground:#444 #333;
$FooterColor:#DDD;
$FixedVariableBackground:#353535;
$FixedVariableShadow:#777;
$FixedVariableBorder_RADIUS:2px;
$VariableContentBackground:#444;

$HeaderMenuLinkBackground:#111 #222;
$HeaderMenuLinkBorder:#000;
$HeaderMenuLinkShadow:#333;
$HeaderMenuLinkColor:#DDD;
$HeaderMenuLinkCurrentOrHoverColor:#FFF;
$HeaderMenuLinkCurrentBackground:#888 #999;
$HeaderMenuLinkHoverBackground:#555 #666;
$HeaderMenuLinkHoverShadow:#000;
$HeaderMenuLinkCurrentAndHoverBackground:#777 #888;
$VariableMenuCurrentColor:#000;
$VariableMenuCurrentBackground:#FFF;

$FormFieldsetBackground:#333;
$FormFieldsetBorder:1px solid #EEE;
$FormLegendBackground:#444;
$FormLegendBorder:1px solid #FFF;
$FormLabelWidth:180px;

$InteractionDefaultColor:#F5F5F5;
$InteractionCurrentColor:#EE7744;
$InteractionHoverColor:#EE7744;