$BodyBackground:#194B7D;
$BodyColor:#EEE;
$HeaderShadow:#FFF;
$HeaderBackground:#444 #333;
$FooterColor:#DDD;
$FixedVariableBackground:#123458;
$FixedVariableShadow:#789;
$FixedVariableBorder_RADIUS:2px;
$VariableContentBackground:#2a4969;
$H1Background:#0d243e;

$HeaderMenuLinkBackground:#112 #223;
$HeaderMenuLinkBorder:#000;
$HeaderMenuLinkShadow:#333;
$HeaderMenuLinkColor:#DDD;
$HeaderMenuLinkCurrentOrHoverColor:#FFF;
$HeaderMenuLinkCurrentBackground:#889 #99A;
$HeaderMenuLinkHoverBackground:#556 #667;
$HeaderMenuLinkHoverShadow:#000;
$HeaderMenuLinkCurrentAndHoverBackground:#778 #88A;
$VariableMenuCurrentColor:#000;
$VariableMenuCurrentBackground:#FFF;

$FormFieldsetBackground:#333;
$FormFieldsetBorder:1px solid #EEE;
$FormLegendBackground:#444;
$FormLegendBorder:1px solid #FFF;
$FormLabelWidth:180px;

$InteractionDefaultColor:#F5F5F5;
$InteractionCurrentColor:#EE7744;
$InteractionHoverColor:#EE7744;