/*
 * DarkSlateGray #2F4F4F
 * DimGray  	#696969
 * SlateGray  	#708090
 * 
 */

$BODY_BACKGROUND:#B0B0B0;
$BODY_COLOR:#2F4F4F;
$HEADER_COLOR:#FEFEFE;
$HEADER_SHADOW:#4775A3;
$HEADER_BACKGROUND_Top:#193149;$HEADER_BACKGROUND_Bottom:#102131;
$FOOTER_COLOR:#555;
$FIXED_VARIABLE_BACKGROUND:#EAEAEA;
$FIXED_VARIABLE_SHADOW:#336699;
$FIXED_VARIABLE_BORDER_RADIUS:2px;
$VARIABLE_CONTENT_BACKGROUND:#DBE0E5;
$H1_BACKGROUND:#24476B;

$HEADER_MENU_A_BACKGROUND:#666666 #777777;
$HEADER_MENU_A_BORDER:#cc3700;
$HEADER_MENU_A_SHADOW:#331F0A;
$HEADER_MENU_A_COLOR:#EEE;
$HEADER_MENU_A_CURRENT_HOVER_COLOR:#FFA347;
$HEADER_MENU_A_CURRENT_BACKGROUND_Top:#999999;$HEADER_MENU_A_CURRENT_BACKGROUND_Bottom:#AAAAAA;
$HEADER_MENU_A_HOVER_BACKGROUND_Top:#214262;$HEADER_MENU_A_HOVER_BACKGROUND_Bottom:#254A6E;
$HEADER_MENU_A_HOVER_SHADOW:#4775A3;
$HEADER_MENU_A_CURRENTHOVER_BACKGROUND_Top:#3E6387;$HEADER_MENU_A_CURRENTHOVER_BACKGROUND_Bottom:#547595;
$VARIABLE_MENU_CURRENT_COLOR:#cc3700;
$VARIABLE_MENU_CURRENT_BACKGROUND:#DBE0E5;

$FORM_FIELDSET_BACKGROUND:#d7c9c4;
$FORM_FIELDSET_BORDER:1px solid #67191d;
$FORM_LEGEND_BACKGROUND:#67191d;
$FORM_LEGEND_COLOR:#EEE;
$FORM_LEGEND_BORDER:1px solid #0d0304;
$FORM_LABEL_WIDTH:180px;

$InteractionDefaultColor:#293f34;
$INTERACTION_CURRENT_COLOR:#e63e00;
$INTERACTION_HOVER_COLOR:#cc3700;