$BODY_BACKGROUND:#194B7D;
$BODY_COLOR:#EEE;
$HEADER_SHADOW:#FFF;
$HEADER_BACKGROUND_Top:#444;$HEADER_BACKGROUND_Bottom:#333;
$FOOTER_COLOR:#DDD;
$FIXED_VARIABLE_BACKGROUND:#123458;
$FIXED_VARIABLE_SHADOW:#789;
$FIXED_VARIABLE_BORDER_RADIUS:2px;
$VARIABLE_CONTENT_BACKGROUND:#2a4969;
$H1_BACKGROUND:#0d243e;

$HEADER_MENU_A_BACKGROUND:#112 #223;
$HEADER_MENU_A_BORDER:#000;
$HEADER_MENU_A_SHADOW:#333;
$HEADER_MENU_A_COLOR:#DDD;
$HEADER_MENU_A_CURRENT_HOVER_COLOR:#FFF;
$HEADER_MENU_A_CURRENT_BACKGROUND_Top:#889; $HEADER_MENU_A_CURRENT_BACKGROUND_Bottom:#99A;
$HEADER_MENU_A_HOVER_BACKGROUND_Top:#556;$HEADER_MENU_A_HOVER_BACKGROUND_Bottom:#667;
$HEADER_MENU_A_HOVER_SHADOW:#000;
$HEADER_MENU_A_CURRENTHOVER_BACKGROUND_Top:#778;$HEADER_MENU_A_CURRENTHOVER_BACKGROUND_Bottom:#88A;
$VARIABLE_MENU_CURRENT_COLOR:#000;
$VARIABLE_MENU_CURRENT_BACKGROUND:#FFF;

$FORM_FIELDSET_BACKGROUND:#333;
$FORM_FIELDSET_BORDER:1px solid #EEE;
$FORM_LEGEND_BACKGROUND:#444;
$FORM_LEGEND_BORDER:1px solid #FFF;
$FORM_LABEL_WIDTH:180px;

$InteractionDefaultColor:#F5F5F5;
$INTERACTION_CURRENT_COLOR:#EE7744;
$INTERACTION_HOVER_COLOR:#EE7744;