/*
 * DarkSlateGray #2F4F4F
 * DimGray  	#696969
 * SlateGray  	#708090
 * 
 */

$BodyBackground:#B0B0B0;
$BodyColor:#2F4F4F;
$HeaderColor:#FEFEFE;
$HeaderShadow:#4775A3;
$HeaderBackground:#193149 #102131;
$FooterColor:#555;
$FixedVariableBackground:#EAEAEA;
$FixedVariableShadow:#336699;
$FixedVariableBorder_RADIUS:2px;
$VariableContentBackground:#DBE0E5;
$H1Background:#24476B;

$HeaderMenuLinkBackground:#666666 #777777;
$HeaderMenuLinkBorder:#cc3700;
$HeaderMenuLinkShadow:#331F0A;
$HeaderMenuLinkColor:#EEE;
$HeaderMenuLinkCurrentOrHoverColor:#FFA347;
$HeaderMenuLinkCurrentBackground:#999999 #AAAAAA;
$HeaderMenuLinkHoverBackground:#214262 #254A6E;
$HeaderMenuLinkHoverShadow:#4775A3;
$HeaderMenuLinkCurrentAndHoverBackground:#3E6387 #547595;
$VariableMenuCurrentColor:#cc3700;
$VariableMenuCurrentBackground:#DBE0E5;

$FORM_FIELDSET_BACKGROUND:#d7c9c4;
$FORM_FIELDSET_BORDER:1px solid #67191d;
$FORM_LEGEND_BACKGROUND:#67191d;
$FORM_LEGEND_COLOR:#EEE;
$FORM_LEGEND_BORDER:1px solid #0d0304;
$FORM_LABEL_WIDTH:180px;

$InteractionDefaultColor:#293f34;
$InteractionCurrentColor:#e63e00;
$InteractionHoverColor:#cc3700;