$BodyBackground:#426e90;/*010102*/
$BodyColor:#111;/**/
$HeaderShadow:#3e5e80;
$HeaderColor:#FFF;
$HeaderBackground:#14375d #09213c;/**/
$FooterColor:#F5F5F5;/**/
$FixedVariableBackground:#f7fafe;/**/
$FixedVariableBorder:1px solid #3e5e80;/**/
$FixedVariableBorder_RADIUS:1px;/**/
$VariableContentBackground:#FEFEFE;
$H1Background:#24476B;
$H1_TEXT_SHADOW:1px 1px #000;

$HeaderMenuLinkBackground:#14375d;
$HeaderMenuLinkColor:#F5F5F5;
$HeaderMenuLinkBorderRadius:false;
$HeaderMenuLinkCurrentOrHoverColor:#FFF;
$HeaderMenuLinkCurrentBackground:#2d678e;
$HeaderMenuLinkHoverBackground:#81b7ce;
$HeaderMenuLinkHoverShadow:#2580A2;
$VariableMenuCurrentColor:#FFF;
$VariableMenuCurrentBackground:#2d678e;

$FormFieldsetBackground:#FFF;
$FormFieldsetBorder:1px solid #2580A2;
$FormLegendBackground:#2580A2;
$FormLegendColor:#FFF;
$FormLegendBorder:1px solid #333;
$FormLabelWidth:180px;

$BCOLOR_VALID:#b7c4b7;
$BCOLOR_INVALID:#c9b3b3;

$InteractionDefaultColor:#245272;
$InteractionCurrentColor:#4180a4;
$InteractionHoverColor:#81b7ce;


@include type(1,#d7e4f2);
@include typeBlock(1,false,false,false,3px);
