$BodyBackground:#e8e8e8;
$BodyColor:#333;
$HeaderShadow:#794938;
$HeaderBackground:#e4dbd7 #d7c9c4;
$FooterColor:#888;
$FixedVariableBackground:#f2edec;
$FixedVariableShadow:#794938;
$FixedVariableBorder_RADIUS:2px;
$VariableContentBackground:#e9e2df;
$H1Background:#794938;

$HeaderMenuLinkBackground:#67191d #741c20;
$HeaderMenuLinkBorder:#0d0304;
$HeaderMenuLinkShadow:#5a1619;
$HeaderMenuLinkColor:#dabcbe;
$HeaderMenuLinkCurrentOrHoverColor:#FFF;
$HeaderMenuLinkCurrentBackground:#9a4c50 #a76366;
$HeaderMenuLinkHoverBackground:#811F24 #8e363a;
$HeaderMenuLinkHoverShadow:#4d1316;
$HeaderMenuLinkCurrentAndHoverBackground:#8e363a #9a4c50;
$VariableMenuCurrentColor:#FFF;
$VariableMenuCurrentBackground:#794938;

$FormFieldsetBackground:#d7c9c4;
$FormFieldsetBorder:1px solid #67191d;
$FormLegendBackground:#67191d;
$FormLegendColor:#EEE;
$FormLegendBorder:1px solid #0d0304;
$FormLabelWidth:180px;

$InteractionDefaultColor:#811F24;
$InteractionCurrentColor:#CF5628;
$InteractionHoverColor:#CF5628;