$PAGE_FIXED:TRUE;
$BODY_BACKGROUND:#e8e8e8;
$BODY_COLOR:#333;
$HEADER_SHADOW:#794938;
$HEADER_BACKGROUND_Top:#e4dbd7;$HEADER_BACKGROUND_Bottom:#d7c9c4;
$FOOTER_COLOR:#888;
$FIXED_VARIABLE_BACKGROUND:#f2edec;
$FIXED_VARIABLE_SHADOW:#794938;
$FIXED_VARIABLE_BORDER_RADIUS:2px;
$VARIABLE_CONTENT_BACKGROUND:#e9e2df;
$VARIABLE_H1_BACKGROUND:#794938;

$HEADER_MENU_A_BACKGROUND_Top:#67191d;$HEADER_MENU_A_BACKGROUND_Bottom:#741c20;
$HEADER_MENU_A_BORDER:#0d0304;
$HEADER_MENU_A_SHADOW:#5a1619;
$HEADER_MENU_A_COLOR:#dabcbe;
$HEADER_MENU_A_CURRENT_HOVER_COLOR:#FFF;
$HEADER_MENU_A_CURRENT_BACKGROUND_Top:#9a4c50;$HEADER_MENU_A_CURRENT_BACKGROUND_Bottom:#a76366;
$HEADER_MENU_A_HOVER_BACKGROUND_Top:#811F24;$HEADER_MENU_A_HOVER_BACKGROUND_Bottom:#8e363a;
$HEADER_MENU_A_HOVER_SHADOW:#4d1316;
$HEADER_MENU_A_CURRENTHOVER_BACKGROUND_Top:#8e363a;$HEADER_MENU_A_CURRENTHOVER_BACKGROUND_Bottom:#9a4c50;
$VARIABLE_MENU_CURRENT_COLOR:#FFF;
$VARIABLE_MENU_CURRENT_BACKGROUND:#794938;

$FORM_FIELDSET_BACKGROUND:#d7c9c4;
$FORM_FIELDSET_BORDER:1px solid #67191d;
$FORM_LEGEND_BACKGROUND:#67191d;
$FORM_LEGEND_COLOR:#EEE;
$FORM_LEGEND_BORDER:1px solid #0d0304;
$FORM_LABEL_WIDTH:180px;

$InteractionDefaultColor:#811F24;
$INTERACTION_CURRENT_COLOR:#CF5628;
$INTERACTION_HOVER_COLOR:#CF5628;