 /*
 * vert fonce  53695d
 * vert moyen 1 a4b5a5
 * ver moyen 2 #728776
 * vert + clair #C9D6CC (menu gauche,post-info)
 * vert fond milieu E6EEE4
 * 
 * lien : #3B5A4A
 */

$BodyBackground:#a4b5a5;
$BodyColor:#333;
$HeaderColor:#FEFEFE;
$HeaderShadow:#3B5A4A;
$HeaderBackground:#53695d #53695d;
$FooterColor:#555;
$FixedVariableBackground:#C9D6CC;
$FixedVariableShadow:#728776;
$FixedVariableBorder_RADIUS:2px;
$VariableContentBackground:#E6EEE4;
$H1Background:#53695d;

$HeaderMenuLinkBackground:#67191d #741c20;
$HeaderMenuLinkBorder:#0d0304;
$HeaderMenuLinkShadow:#5a1619;
$HeaderMenuLinkColor:#dabcbe;
$HeaderMenuLinkCurrentOrHoverColor:#FFF;
$HeaderMenuLinkCurrentBackground:#9a4c50 #a76366;
$HeaderMenuLinkHoverBackground:#811F24 #8e363a;
$HeaderMenuLinkHoverShadow:#4d1316;
$HeaderMenuLinkCurrentAndHoverBackground:#8e363a #9a4c50;
$VariableMenuCurrentColor:#FFF;
$VariableMenuCurrentBackground:#794938;

$FormFieldsetBackground:#d7c9c4;
$FormFieldsetBorder:1px solid #67191d;
$FormLegendBackground:#67191d;
$FormLegendColor:#EEE;
$FormLegendBorder:1px solid #0d0304;
$FormLabelWidth:180px;

$InteractionDefaultColor:#3B5A4A;
$InteractionCurrentColor:#293f34;
$InteractionHoverColor:#293f34;