$BODY_BACKGROUND:#e6ebf1;
$BODY_COLOR:#222;
$HEADER_SHADOW:#111;
$HEADER_BACKGROUND_Top:#444444;$HEADER_BACKGROUND_Bottom:#333333;
$HEADER_COLOR:#EEE;
$FOOTER_COLOR:#555;
$FIXED_VARIABLE_BACKGROUND:#f1f4f7;
$FIXED_VARIABLE_SHADOW:#A3B7CB;
$FIXED_VARIABLE_BORDER_RADIUS:2px;
$FIXED_VARIABLE_MARGIN:true;
$VARIABLE_CONTENT_BACKGROUND:#d4dee6;
$VARIABLE_H1_BACKGROUND:#444;

$HEADER_MENU_A_BORDER_RADIUS:1px;
$HEADER_MENU_A_BACKGROUND:#555;
$HEADER_MENU_A_COLOR:#EEE;
$HEADER_MENU_A_CURRENT_HOVER_COLOR:#FFF;
$HEADER_MENU_A_CURRENT_BACKGROUND:#2580A2;
$HEADER_MENU_A_HOVER_BACKGROUND:#a22542;
$VARIABLE_MENU_CURRENT_COLOR:#FFF;
$VARIABLE_MENU_CURRENT_BACKGROUND:#2580A2;

$FORM_FIELDSET_BACKGROUND:#FFF;
$FORM_FIELDSET_BORDER:1px solid #2580A2;
$FORM_LEGEND_BACKGROUND:#2580A2;
$FORM_LEGEND_COLOR:#FFF;
$FORM_LEGEND_BORDER:1px solid #333;
$FORM_LABEL_WIDTH:180px;

$COLOR_COMPARE_SAME:#b7c4b7;
$COLOR_COMPARE_DIFF:#c9b3b3;

$InteractionDefaultColor:#20718d;
$INTERACTION_CURRENT_COLOR:#8d203a;
$INTERACTION_HOVER_COLOR:#8d203a;

@include type(1,#D9E1E9);

@include type(2,#133f4f,#fff);
.block2 a:hover{background:#444}

@include type(3,#b5c5d5);
