$BodyBackground:#e6ebf1;
$BodyColor:#222;
$HeaderShadow:#111;
$HeaderBackground:#444444 #333333;
$HeaderColor:#EEE;
$FooterColor:#555;
$FixedVariableBackground:#f1f4f7;
$FixedVariableShadow:#A3B7CB;
$FixedVariableBorder_RADIUS:2px;
$FixedVariableMargin:true;
$VariableContentBackground:#d4dee6;
$H1Background:#444;

$HeaderMenuLinkBorderRadius:1px;
$HeaderMenuLinkBackground:#555;
$HeaderMenuLinkColor:#EEE;
$HeaderMenuLinkCurrentOrHoverColor:#FFF;
$HeaderMenuLinkCurrentBackground:#2580A2;
$HeaderMenuLinkHoverBackground:#a22542;
$VariableMenuCurrentColor:#FFF;
$VariableMenuCurrentBackground:#2580A2;

$FORM_FIELDSET_BACKGROUND:#FFF;
$FORM_FIELDSET_BORDER:1px solid #2580A2;
$FORM_LEGEND_BACKGROUND:#2580A2;
$FORM_LEGEND_COLOR:#FFF;
$FORM_LEGEND_BORDER:1px solid #333;
$FORM_LABEL_WIDTH:180px;

$BCOLOR_VALID:#b7c4b7;
$BCOLOR_INVALID:#c9b3b3;

$InteractionDefaultColor:#20718d;
$InteractionCurrentColor:#8d203a;
$InteractionHoverColor:#8d203a;

@include type(1,#D9E1E9);

@include type(2,#133f4f,#fff);
.block2 a:hover{background:#444}

@include type(3,#b5c5d5);

#page div.variable article h1{
  background:none; color:$BodyColor;
  padding:0; font-size:1.4em;
}
