/* buildings */
.icon.building{background:url('COREIMG/silk_icon_set/building.png');}
.icon.building_add{background:url('COREIMG/silk_icon_set/building_add.png');}
.icon.building_delete{background:url('COREIMG/silk_icon_set/building_delete.png');}
.icon.building_edit{background:url('COREIMG/silk_icon_set/building_edit.png');}
.icon.building_error{background:url('COREIMG/silk_icon_set/building_error.png');}
.icon.building_go{background:url('COREIMG/silk_icon_set/building_go.png');}
.icon.building_key{background:url('COREIMG/silk_icon_set/building_key.png');}
.icon.building_link{background:url('COREIMG/silk_icon_set/building_link.png');}