/* comments */
.icon.user_comment{background:url('COREIMG/silk_icon_set/user_comment.png');}
.icon.comment{background:url('COREIMG/silk_icon_set/comment.png');}
.icon.comment_add{background:url('COREIMG/silk_icon_set/comment_add.png');}
.icon.comment_delete{background:url('COREIMG/silk_icon_set/comment_delete.png');}
.icon.comment_edit{background:url('COREIMG/silk_icon_set/comment_edit.png');}
.icon.comments{background:url('COREIMG/silk_icon_set/comments.png');}
.icon.comments_add{background:url('COREIMG/silk_icon_set/comments_add.png');}
.icon.comments_delete{background:url('COREIMG/silk_icon_set/comments_delete.png');}