.icon.folder{background:url('COREIMG/silk_icon_set/folder.png');}
.icon.folder_add{background:url('COREIMG/silk_icon_set/folder_add.png');}
.icon.folder_bell{background:url('COREIMG/silk_icon_set/folder_bell.png');}
.icon.folder_brick{background:url('COREIMG/silk_icon_set/folder_brick.png');}
.icon.folder_bug{background:url('COREIMG/silk_icon_set/folder_bug.png');}
.icon.folder_camera{background:url('COREIMG/silk_icon_set/folder_camera.png');}
.icon.folder_database{background:url('COREIMG/silk_icon_set/folder_database.png');}
.icon.folder_delete{background:url('COREIMG/silk_icon_set/folder_delete.png');}
.icon.folder_edit{background:url('COREIMG/silk_icon_set/folder_edit.png');}
.icon.folder_error{background:url('COREIMG/silk_icon_set/folder_error.png');}
.icon.folder_explore{background:url('COREIMG/silk_icon_set/folder_explore.png');}
.icon.folder_feed{background:url('COREIMG/silk_icon_set/folder_feed.png');}
.icon.folder_find{background:url('COREIMG/silk_icon_set/folder_find.png');}
.icon.folder_go{background:url('COREIMG/silk_icon_set/folder_go.png');}
.icon.folder_heart{background:url('COREIMG/silk_icon_set/folder_heart.png');}
.icon.folder_image{background:url('COREIMG/silk_icon_set/folder_image.png');}
.icon.folder_key{background:url('COREIMG/silk_icon_set/folder_key.png');}
.icon.folder_lightbulb{background:url('COREIMG/silk_icon_set/folder_lightbulb.png');}
.icon.folder_link{background:url('COREIMG/silk_icon_set/folder_link.png');}
.icon.folder_magnify{background:url('COREIMG/silk_icon_set/folder_magnify.png');}
.icon.folder_page{background:url('COREIMG/silk_icon_set/folder_page.png');}
.icon.folder_page_white{background:url('COREIMG/silk_icon_set/folder_page_white.png');}
.icon.folder_palette{background:url('COREIMG/silk_icon_set/folder_palette.png');}
.icon.folder_picture{background:url('COREIMG/silk_icon_set/folder_picture.png');}
.icon.folder_star{background:url('COREIMG/silk_icon_set/folder_star.png');}
.icon.folder_table{background:url('COREIMG/silk_icon_set/folder_table.png');}
.icon.folder_user{background:url('COREIMG/silk_icon_set/folder_user.png');}
.icon.folder_wrench{background:url('COREIMG/silk_icon_set/folder_wrench.png');}