/* images */
.icon.image{background:url('COREIMG/silk_icon_set/image.png');}
.icon.image_add{background:url('COREIMG/silk_icon_set/image_add.png');}
.icon.image_delete{background:url('COREIMG/silk_icon_set/image_delete.png');}
.icon.image_edit{background:url('COREIMG/silk_icon_set/image_edit.png');}
.icon.image_link{background:url('COREIMG/silk_icon_set/image_link.png');}
.icon.images{background:url('COREIMG/silk_icon_set/images.png');}