/* lock */
.icon.lock{background:url('COREIMG/silk_icon_set/lock.png');}
.icon.lock_add{background:url('COREIMG/silk_icon_set/lock_add.png');}
.icon.lock_break{background:url('COREIMG/silk_icon_set/lock_break.png');}
.icon.lock_delete{background:url('COREIMG/silk_icon_set/lock_delete.png');}
.icon.lock_edit{background:url('COREIMG/silk_icon_set/lock_edit.png');}
.icon.lock_go{background:url('COREIMG/silk_icon_set/lock_go.png');}
.icon.lock_open{background:url('COREIMG/silk_icon_set/lock_open.png');}