/* map */
.icon.map{background:url('COREIMG/silk_icon_set/map.png');}
.icon.map_add{background:url('COREIMG/silk_icon_set/map_add.png');}
.icon.map_delete{background:url('COREIMG/silk_icon_set/map_delete.png');}
.icon.map_edit{background:url('COREIMG/silk_icon_set/map_edit.png');}
.icon.map_go{background:url('COREIMG/silk_icon_set/map_go.png');}
.icon.map_magnify{background:url('COREIMG/silk_icon_set/map_magnify.png');}