.icon.page{background:url('COREIMG/silk_icon_set/page.png');}
.icon.page_add{background:url('COREIMG/silk_icon_set/page_add.png');}
.icon.page_attach{background:url('COREIMG/silk_icon_set/page_attach.png');}
.icon.page_code{background:url('COREIMG/silk_icon_set/page_code.png');}
.icon.page_copy{background:url('COREIMG/silk_icon_set/page_copy.png');}
.icon.page_delete{background:url('COREIMG/silk_icon_set/page_delete.png');}
.icon.page_edit{background:url('COREIMG/silk_icon_set/page_edit.png');}
.icon.page_error{background:url('COREIMG/silk_icon_set/page_error.png');}
.icon.page_excel{background:url('COREIMG/silk_icon_set/page_excel.png');}
.icon.page_xls{background:url('COREIMG/silk_icon_set/page_excel.png');}
.icon.page_find{background:url('COREIMG/silk_icon_set/page_find.png');}
.icon.page_gear{background:url('COREIMG/silk_icon_set/page_gear.png');}
.icon.page_go{background:url('COREIMG/silk_icon_set/page_go.png');}
.icon.page_green{background:url('COREIMG/silk_icon_set/page_green.png');}
.icon.page_key{background:url('COREIMG/silk_icon_set/page_key.png');}
.icon.page_lightning{background:url('COREIMG/silk_icon_set/page_lightning.png');}
.icon.page_link{background:url('COREIMG/silk_icon_set/page_link.png');}
.icon.page_paintbrush{background:url('COREIMG/silk_icon_set/page_paintbrush.png');}
.icon.page_paste{background:url('COREIMG/silk_icon_set/page_paste.png');}
.icon.page_red{background:url('COREIMG/silk_icon_set/page_red.png');}
.icon.page_refresh{background:url('COREIMG/silk_icon_set/page_refresh.png');}
.icon.page_save{background:url('COREIMG/silk_icon_set/page_save.png');}

.icon.page_csv{background:url('COREIMG/silk_icon_set/page_csv.png');}
