/* money */
.icon.money{background:url('COREIMG/silk_icon_set/money.png');}
.icon.money_add{background:url('COREIMG/silk_icon_set/money_add.png');}
.icon.money_delete{background:url('COREIMG/silk_icon_set/money_delete.png');}
.icon.money_dollar{background:url('COREIMG/silk_icon_set/money_dollar.png');}
.icon.money_euro{background:url('COREIMG/silk_icon_set/money_euro.png');}
.icon.money_pound{background:url('COREIMG/silk_icon_set/money_pound.png');}
.icon.money_yen{background:url('COREIMG/silk_icon_set/money_yen.png');}

.icon.basket{background:url('COREIMG/silk_icon_set/basket.png');}
.icon.basket_add{background:url('COREIMG/silk_icon_set/basket_add.png');}
.icon.basket_delete{background:url('COREIMG/silk_icon_set/basket_delete.png');}
.icon.basket_edit{background:url('COREIMG/silk_icon_set/basket_edit.png');}
.icon.basket_error{background:url('COREIMG/silk_icon_set/basket_error.png');}
.icon.basket_go{background:url('COREIMG/silk_icon_set/basket_go.png');}
.icon.basket_put{background:url('COREIMG/silk_icon_set/basket_put.png');}
.icon.basket_remove{background:url('COREIMG/silk_icon_set/basket_remove.png');}