/* tables */
.icon.table{background:url('COREIMG/silk_icon_set/table.png');}
.icon.table_add{background:url('COREIMG/silk_icon_set/table_add.png');}
.icon.table_delete{background:url('COREIMG/silk_icon_set/table_delete.png');}
.icon.table_edit{background:url('COREIMG/silk_icon_set/table_edit.png');}
.icon.table_error{background:url('COREIMG/silk_icon_set/table_error.png');}
.icon.table_gear{background:url('COREIMG/silk_icon_set/table_gear.png');}
.icon.table_go{background:url('COREIMG/silk_icon_set/table_go.png');}
.icon.table_key{background:url('COREIMG/silk_icon_set/table_key.png');}
.icon.table_lightning{background:url('COREIMG/silk_icon_set/table_lightning.png');}
.icon.table_link{background:url('COREIMG/silk_icon_set/table_link.png');}
.icon.table_multiple{background:url('COREIMG/silk_icon_set/table_multiple.png');}
.icon.table_refresh{background:url('COREIMG/silk_icon_set/table_refresh.png');}
.icon.table_relationship{background:url('COREIMG/silk_icon_set/table_relationship.png');}
.icon.table_row_delete{background:url('COREIMG/silk_icon_set/table_row_delete.png');}
.icon.table_row_update{background:url('COREIMG/silk_icon_set/table_row_update.png');}
.icon.table_row_insert{background:url('COREIMG/silk_icon_set/table_row_insert.png');}
.icon.table_save{background:url('COREIMG/silk_icon_set/table_save.png');}
.icon.table_sort{background:url('COREIMG/silk_icon_set/table_sort.png');}