/* time */
.icon.time{background:url('COREIMG/silk_icon_set/time.png');}
.icon.time_add{background:url('COREIMG/silk_icon_set/time_add.png');}
.icon.time_delete{background:url('COREIMG/silk_icon_set/time_delete.png');}
.icon.time_go{background:url('COREIMG/silk_icon_set/time_go.png');}