/* users */
.icon.user_add{background:url('COREIMG/silk_icon_set/user_add.png');}
.icon.user_edit{background:url('COREIMG/silk_icon_set/user_edit.png');}
.icon.user_delete{background:url('COREIMG/silk_icon_set/user_delete.png');}
.icon.user_enable{background:url('COREIMG/silk_icon_set/user_green.png');}
.icon.user_disable{background:url('COREIMG/silk_icon_set/user_red.png');}