.arrow{
	width:0; height:0; line-height:0;
	border-style:solid;
	display:block;
}
a.arrow{outline:none}

/* http://apps.eky.hk/css-triangle-generator/ */
function arrow-left($halfheight,$width,$color){
	border-width: $halfheight $width $halfheight 0;
	border-color: transparent $color transparent transparent;
	_border-color: pink $color pink pink;
	_filter:progid:DXImageTransform.Microsoft.Chroma(color=pink);
}
function arrow-left-override($color){
	border-color: transparent $color transparent transparent;
	_border-color: pink $color pink pink;
	_filter:progid:DXImageTransform.Microsoft.Chroma(color=pink);
}

function arrow-right($halfheight,$width,$color){
	border-width: $halfheight 0 $halfheight $width;
	border-color: transparent transparent transparent $color;
	_border-color: pink pink pink $color;
	_filter:progid:DXImageTransform.Microsoft.Chroma(color=pink);
}
function arrow-right-override($color){
	border-color: transparent transparent transparent $color;
	_border-color: pink pink pink $color;
	_filter:progid:DXImageTransform.Microsoft.Chroma(color=pink);
}

function arrow-up($height,$width,$color){
	border-width: 0 $width $height $width;
	border-color: transparent transparent $color transparent;
	_border-color: pink pink $color pink;
	_filter:progid:DXImageTransform.Microsoft.Chroma(color=pink);
}
function arrow-up-override($color){
	border-color: transparent transparent $color transparent;
	_border-color: pink pink $color pink;
	_filter:progid:DXImageTransform.Microsoft.Chroma(color=pink);
}

function arrow-down($height,$width,$color){
	border-width: $height $width 0 $width;
	border-color: $color transparent transparent transparent;
	_border-color: $color pink pink pink;
	_filter:progid:DXImageTransform.Microsoft.Chroma(color=pink);
}
function arrow-down-override($color){
	border-color: $color transparent transparent transparent;
	_border-color: $color pink pink pink;
	_filter:progid:DXImageTransform.Microsoft.Chroma(color=pink);
}
