.icon.facebook{background:url('COREIMG/social/facebook_16.png');}
.icon.yahoo{background:url('COREIMG/social/yahoo_16.png');}
.icon.google{background:url('COREIMG/social/google_16.png');}
.icon.wlive{background:url('COREIMG/social/wlive_16.png');}
@include coreIcon16('openid','openid');