html body header,html body .sticky,html body #container #page .sticky{
	top:28px;
}
html body #container{
	margin-top:28px;
}

html body #springbok-bar,html body .springbok-bar-content *{
	font:9pt Ubuntu,'Droid Sans','Segoe UI',Corbel,'Gill Sans','DejaVu Sans','Bitstream Vera Sans',Helvetica,Verdana,sans-serif;
}

html body #springbok-bar{
	background: #111; /* Old browsers */
	background: -moz-linear-gradient(top, #111 0%, #000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111), color-stop(100%,#000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #111 0%,#000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #111 0%,#000 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #111 0%,#000 100%); /* IE10+ */
	background: linear-gradient(top, #111 0%,#000 100%); /* W3C */
	height:27px; line-height:27px;
	border-bottom:1px solid #FFF;
	color:#FFF;
	display: block;
    position:fixed;_position:absolute;
    top:0; left:0; right:0;
    width: 100%;
	z-index: 99999;
	overflow:hidden;
}
html body #springbok-bar a{
	padding:0 6px;
	display:inline-block;
	line-height:27px;
	color:#FFF;
	text-decoration:none;
	outline:none;
}
@media (min-width:1200px){
	html body #container{margin-top:0;}
	html body header,html body .sticky,html body #container #page .sticky{
		top:0;
	}
	html body header{ right:200px }
	html body{
		padding-right:200px;
	}


	html body #springbok-bar{
		width:200px;
		height:100%;
		bottom:0; left:auto;
	}
	html body #springbok-bar a{
		display:block;
	}
	
	html body #springbok-bar .springokBarSep{ display:none; }
}
@media (max-width: 640px){
	html body #springbok-bar,html body .springbok-bar-content *{
		font:100% 8pt 'Ubuntu Condensed','Ubuntu','Droid Sans Condensed','Droid Sans','Segoe UI Condensed','Segoe UI',Corbel,'Gill Sans','DejaVu Sans','Bitstream Vera Sans',Helvetica,Verdana,sans-serif;
	}
	html body #springbok-bar a{
		padding:0 2px;
		text-shadow:none !important;/* jquery mobile*/
	}
	/*html body #springbok-bar b{ font-size }*/
}

html body #springbok-bar a:hover{
	background: #444; /* Old browsers */
	background: -moz-linear-gradient(top, #555 0%, #333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555), color-stop(100%,#333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #555 0%,#333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #555 0%,#333 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #555 0%,#333 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #555 0%,#333 100%); /* W3C */
	text-decoration:none;
}
html body #springbok-bar a.current{
	background: #444; /* Old browsers */
	background: -moz-linear-gradient(top, #333 0%, #555 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#555)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #333 0%,#555 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #333 0%,#555 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #333 0%,#555 100%); /* IE10+ */
	background: linear-gradient(top, #333 0%,#555 100%); /* W3C */
}

html body #springbok-bar a.springbokTitle{
	text-shadow:1px 1px #666;
}

html body #springbok-bar a.warning{
	background:#ad2d00;
	color:#FFDDAA;
}

html body #springbok-bar a.error{
	background:#8A0000;
	color:#efafaf;
}


html body .springbok-bar-content/*,#springbok-bar-popup*/{
	position:fixed;_position:absolute;
	top:28px; left:0; right:0; bottom:0;
	width:100%;
    z-index:9999999;
    display:none;
    color:#FFF;
    background:#555;
}
@media (min-width:1200px){
	html body .springbok-bar-content/*,#springbok-bar-popup*/{
		top:0;right:200px;
		width:auto;
	}
}
/*
#springbok-bar-popup{
	top:78px; left:50px; right:50px; bottom:50px;
	box-shadow: 1px 1px 5px #CCC;
}
*/

html body .springbok-bar-content > div/*,#springbok-bar-popup > pre*/{
	position:absolute;
	top:5px; left:5px; right:5px; bottom:5px;
    padding:8px 20px;
    background:#333;
    overflow:auto;
}/*
#springbok-bar-popup > a{
	display:block;
	position:absolute;
	top:-12px; right:-8px;
    z-index:100001;
    background:#000;
    padding:3px 4px;
    outline:none;
}
*/
html body .springbok-bar-content a/*,#springbok-bar-popup a*/{
	color:#FFF;
}
html body .springbok-bar-content a:hover/*,#springbok-bar-popup a:hover*/{
	color:#FFF;
	text-shadow:1px 1px 1px #000;
}