a.action,span.action{
  display: block;display:inline-block;
  /*height:16px;width:16px;*/
  margin:0 0 0 1px;padding:0;
  vertical-align:bottom;
}
a.action.details,span.action.details{background:url('COREIMG/fatcowIcons_16/zoom_selection.png');}