$_BUTTON_OVERRIDE:FALSE !default;
$BasicButtons:FALSE !default;
$ButtonBoxShadow:#777777 !default;
$ButtonTextShadow:#999 !default;
$ButtonFocusColor:#FFF !default;
$ButtonTextShadow:#555 !default;

$ButtonBackground:#555555 #444444 !default;
$ButtonHoverBackground:#666666 #555555 !default;
$ButtonFocusBackground:#555555 #777777 !default;
$ButtonColor:#EEE !default;
$ButtonBorder:1px solid #111 !default;
$ButtonHoverColor:#FFF !default;
$ButtonHoverBorder:1px solid #333333 !default;
	
@if $BasicButtons==true{
	$ButtonBackground:#FFF #F3F3F3;
	$ButtonHoverBackground:#F3F3F3 #E5E5E5;
	$ButtonFocusBackground:#E5E5E5 #FFF;
	$ButtonColor:#111;
	$ButtonBorder:1px solid #CCC;
	$ButtonHoverColor:#000;
	$ButtonHoverBorder:1px solid #AAA;
}


@if $_BUTTON_OVERRIDE==TRUE{
  html{
    input.submit,button,.button{
      @include background($ButtonBackground);
      border:$ButtonBorder;
      color:$ButtonColor;
    }
    input.submit:hover,button:hover,.button:hover{
      @include background($ButtonHoverBackground);
    	@if $ButtonHoverBorder{ border:$ButtonHoverBorder; }
    }
    body input.submit:focus,body button:focus,body .button:focus{
      @include background($ButtonFocusBackground);
    }
  }
}@else{
  input.submit,button,.button{
  	@include background($ButtonBackground);
  	border-radius:3px;
  	box-shadow:0 1px 1px rgba(255,255,255,0.2) inset, 0 1px 2px rgba(0,0,0,0.4);
  	border:$ButtonBorder;
  	color:$ButtonColor;
  	text-shadow:$ButtonTextShadow;
  	padding:2px 8px;
  	cursor:pointer;
  	transition:all .4s;
  	box-sizing:border-box;
  }
  input.submit:hover,button:hover,.button:hover{
  	@include background($ButtonHoverBackground);
  	@if $ButtonHoverBorder{ border:$ButtonHoverBorder; }
  	@if $ButtonHoverColor{ color:$ButtonHoverColor; }
  }
  body input.submit:focus,body button:focus,body .button:focus{
  	@include background($ButtonFocusBackground);
  	color:$ButtonFocusColor;outline:0;
  	text-shadow:$ButtonTextShadow;
  }
  a.button,a.button:hover{text-decoration:none;display:inline-block;}
  input.submit.bblock,button.bblock,.button.bblock,a.button.bblock,a.button.bblock:hover{display:block;}
  
  button::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner{border: 0}
  button.big, .button.big{
    padding:5px 16px;
  }
}
/* IE */
/*input.submit,button{
	position:relative;
	z-index: 0;
}*/