$SEP_BORDER:1px solid #BBB !default;

.center{text-align:center}
.clear{clear:both}
.noclear{clear:none}
br.clear{display:block;line-height:0;font-size:0;height:0}
.pointer{cursor:pointer}
.cursorWait,body.cursorWait *{cursor:wait !important}
.bold{font-weight:bold}
.italic{font-style:italic}
.alignRight{text-align:right}
.alignLeft{text-align:left}
.alignJustify{text-align:justify}
.float_right{float:right}
.float_left{float:left}
.fa_right{float:right;text-align:right}
.context{ overflow:auto; overflow-x: hidden; position:relative }
.nowrap{white-space:nowrap}
.hidden{display:none}
.hiddenText{text-indent:-99999px}
.smallinfo{font-size:8pt}
.biginfo{font-size:11pt}
.aposTR{position:absolute;top:0;right:0}
.aposR{position:absolute;right:0}
.iepie{
  behavior:url(/web/css/PIE.htc);
}

h1,h2,h3,h4,h5,h6{clear:both; margin-top:0;position:relative;}
h1{font-size:16pt;margin-bottom:15px;}
h2{font-size:14pt;margin:4px 0 12px;}
h3{font-size:12pt;margin-bottom:10px;}
h4{font-size:11pt;margin-bottom:8px;}
h5{font-size:10pt;margin-bottom:5px;}
h6{font-size:9pt;margin-bottom:5px;}

.sepTop,ul.cSepTop li{margin-top:8px;padding-top:8px;}
.sepBottom{margin-bottom:8px;padding-bottom:8px;}
.sepTop,.sepT,ul.cSepTop li{border-top:$SEP_BORDER;}
.sepL{border-left:$SEP_BORDER;}
.sepR{border-right:$SEP_BORDER;}
.sepB{border-bottom:$SEP_BORDER;}

.clearfix:after { 
  clear: both; 
  display: block; 
  height: 0; 
  font-size: 0; 
  visibility: hidden; 
  content: "."; 
}
* html .clearfix { zoom: 1 }
*:first-child+html .clearfix { zoom: 1 }

hr{
  height:1px;
  background:#BBB;
  border:0;
}
img{border:0}

span.right_val{
    float: right;
    text-align: right;
}

li a img{vertical-align:bottom}
table img,img.icon,span.icon,.va-middle{vertical-align:middle}
span.img,span.icon{display:block;display:inline-block}
.iconWrap{
  position:relative;
  overflow:hidden;
}
.iconWrap .icon{
  position:absolute;
  top:0;left:0;
}
.iconWrap div{
  display: table-cell;
  vertical-align: middle;
}
a.aicon{display: inline-block;text-decoration:none;}

pre{
  text-align:left;margin:0;overflow:auto;
  -moz-tab-size:4; -o-tab-size:4; tab-size:4;
}
p{margin:8px 0}

ul{margin:8px 0; padding-left:35px}/* firefox default : margin:12px 0; padding-left:40px */
ul ul,ul ol,ol ul,ol ol{padding-left:20px}
ul.mosaic{
  float:left; width:100%; clear:both;
  list-style: none;
  margin:0;padding:0;
  li{float:left;display:block;margin:0 5px 3px 2px;}
  li > a{display:block; text-decoration: none;}
  li img{display:block; margin:0 auto 0; border:0}
}

ul.inline,ul.nobullets{
  list-style:none;
  margin:0;padding:0;
}
ul.inline{ display:block; }
ul.inline li{ padding:2px 3px; display:inline; }

ul.spaced li{
  padding:3px 0;
}

ul.compact{
  margin:5px 0;
  padding:0 0 0 20px;
}
ul.icons{
  list-style:none;
  margin:5px 0;
  padding:0 0 0 16px;
}
ul.compact ul,ul.icons ul{margin:1px 0}

ul.overflow-ellipsis li{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  display:block;
}
ul.cMt10 li{margin-top:10px}
ul.cMt10 li:first-child{margin-top:0}

ul.cSepTop li:first-child{margin-top:0;padding-top:0;border-top:0;}

/* interactions */

$JQueryUI:false !default;
$__moreSelector:'';

@includeCore 'base/interactions.scss';
ul.clickable{
  @extend ul.nobullets;
}

@if $JQueryUI{ $__moreSelector:'.ui-state-default,.ui-widget-content .ui-state-default,'; }
#{$__moreSelector}ul.clickable li{
  background:$InteractionDefaultBackgroundColor;
  color:findBestFgColor($InteractionDefaultBackgroundColor);
  cursor:pointer;
}
@if $JQueryUI{ $__moreSelector:'.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited,'; }
#{$__moreSelector}ul.clickable li a{color:findBestFgColor($InteractionDefaultBackgroundColor); text-decoration:none;}

@if($INTERACTION_HOVER_BACKGROUND_COLOR){
  @if $JQueryUI{ $__moreSelector:'.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus'; }
  #{$__moreSelector}ul.clickable li:hover{ background:$INTERACTION_HOVER_BACKGROUND_COLOR; color:findBestFgColor($INTERACTION_HOVER_BACKGROUND_COLOR); }
  @if $JQueryUI{ $__moreSelector:'.ui-state-hover a, .ui-state-hover a:hover,ui-state-focus a,ui-state-focus a:hover'; }
  #{$__moreSelector}ul.clickable li:hover a{ color:findBestFgColor($INTERACTION_HOVER_BACKGROUND_COLOR); }
}

@if($INTERACTION_CURRENT_BACKGROUND_COLOR){
  @if $JQueryUI{ $__moreSelector:'.ui-state-active, .ui-widget-content .ui-state-active'; }
  #{$__moreSelector}ul.clickable li.current{ background:$INTERACTION_CURRENT_BACKGROUND_COLOR; color:findBestFgColor($INTERACTION_CURRENT_BACKGROUND_COLOR); }
  @if $JQueryUI{ $__moreSelector:'.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited'; }
  #{$__moreSelector}ul.clickable li.current,ul.clickable li.current a{ color:findBestFgColor($INTERACTION_CURRENT_BACKGROUND_COLOR); }
}
@includeCore 'base/types.scss';