$SEP_BORDER:1px solid #BBB !default;
$H1_COLOR:#FFF !default;
$H1_BACKGROUND:false !default;
$H1_TEXT_SHADOW:false !default;

.center{text-align:center}
.clear{clear:both}
.noclear{clear:none}
br.clear{display:block;line-height:0;font-size:0;height:0}
.pointer{cursor:pointer}
.cursorWait,body.cursorWait *{cursor:wait !important}
.bold{font-weight:bold}
.italic{font-style:italic}
.alignRight{text-align:right}
.alignLeft{text-align:left}
.alignJustify{text-align:justify}
.faR{float:right;text-align:right}
.context{ overflow:auto; overflow-x:hidden; position:relative }
.nowrap,.w1{white-space:nowrap}
html body .hidden{display:none}
.hiddenText{text-indent:-99999px; *text-indent:0; *font-size:0; *line-height:0; *overflow:hidden; }

.floatR{float:right}
.floatL{float:left}

.row{ @extend .clear; display:table; table-layout:fixed; width:100%; }
.row .col{ display:table-cell; vertical-align:top; /* Opera */ *float:left; /* IE <7 */ }

.line.gut > * + * { 
    margin-left:1em;
}
.row.gut > * + * { 
    border-left:1em solid #fff; /* must be color of parent background */
   *border-left:0;
}

.aposTR{position:absolute;top:0;right:0}
.aposR{position:absolute;right:0}
/*.iepie{behavior:url(/web/css/PIE.htc);}
.ieCss3{behavior:url(/web/css/ie-css3.htc);}*/
.w1{width:1px}

h1,h2,h3,h4,h5,h6{clear:both; margin-top:0;position:relative;}
h1{
  font-size:1.6em;margin-bottom:15px;
  @if $H1_COLOR{ color:$H1_COLOR; } 
  @if $H1_BACKGROUND{ padding:8px 5px; background:$H1_BACKGROUND; }
  @else{ padding:0; }
  @if $H1_TEXT_SHADOW{ text-shadow:$H1_TEXT_SHADOW; }
}
h2{font-size:1.4em;margin:4px 0 12px;}
h3{font-size:1.3em;margin-bottom:10px;}
h4{font-size:1.18em;margin-bottom:8px;}
h5{font-size:1.1em;margin-bottom:5px;}
h6{font-size:1.05em;margin-bottom:5px;}

.smallinfo{font-size:0.88em}
.biginfo{font-size:1.18em}
.hugeinfo{font-size:1.4em}

.sepTop,ul.cSepTop li{margin-top:8px;padding-top:8px;}
.sepBot{margin-bottom:8px;padding-bottom:8px;}
.sepTop,.sepT,ul.cSepTop li{border-top:$SEP_BORDER;}
.sepL{border-left:$SEP_BORDER;}
.sepR{border-right:$SEP_BORDER;}
.sepBot,.sepB{border-bottom:$SEP_BORDER;}

.clearfix:after,header:after,.header:after,.fixed:after,.variable:after,ul.mosaic:after{ 
  /*clear: both; 
  display: block; 
  height: 0; 
  font-size: 0; 
  visibility: hidden; 
  content: ".";*/
  content: "";
  display: table;
  clear: both; 
}
/** html .clearfix,*:first-child+html .clearfix*/
.clearfix,header,.header,.fixed,.variable,ul.mosaic{ zoom: 1 }

hr{
  height:1px;
  background:#BBB;
  border:0;
}
img{border:0}

span.right_val{
    float: right;
    text-align: right;
}

li a img{vertical-align:bottom}
table img,img.icon,span.icon,.vaMiddle,.row .vaMiddle{vertical-align:middle}
span.img,span.icon{display:block;display:inline-block}
.iconWrap{
  position:relative;
  overflow:hidden;
  zoom:1;
}
.iconWrap .icon{
  position:absolute;
  top:0;left:0;
}
.iconWrap div{
  display: table-cell;
  vertical-align: middle;
}
a.aicon{display:inline-block;text-decoration:none;}

pre{
  text-align:left;margin:0;overflow:auto;
  -moz-tab-size:4; -o-tab-size:4; tab-size:4;
}
p{
	margin:8px 0;
	line-height:1.3em;
	font-size:1.02em;
}

ul{margin:8px 0; padding-left:35px}/* firefox default : margin:12px 0; padding-left:40px */
ul ul,ul ol,ol ul,ol ol{padding-left:20px}
ul.mosaic{
  float:left; width:100%; clear:both;
  list-style: none;
  margin:0;padding:0;
  li{float:left;display:block;margin:0 5px 3px 2px;}
  li > a{display:block; text-decoration: none;}
  li img{display:block; margin:0 auto 0; border:0}
}

ul.inline,ul.nobullets,ul.simpleDouble{
  list-style:none;
  margin:0;padding:0;
}
ul.inline{ display:block; }
ul.inline li{ padding:2px 3px; display:inline; display:inline-block; }

ul.spaced li{
  padding:3px 0;
}

ul.compact{
  margin:5px 0;
  padding:0 0 0 20px;
}
ul.icons{
  list-style:none;
  margin:5px 0;
  padding:0 0 0 16px;
}
ul.compact ul,ul.icons ul{margin:1px 0}

ul.overflow-ellipsis li{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  display:block;
}

ul.simpleDouble ul{
	list-style:disc;
	padding:0 0 0 20px;
  margin:0 0 5px;
}

ul.cMt10 li{margin-top:10px}
ul.cMt15 li{margin-top:15px}
ul.cMt10 li:first-child,ul.cMt15 li:first-child{margin-top:0}

ul.cSepTop li:first-child{margin-top:0;padding-top:0;border-top:0;}


$BCOLOR_VALID:#D3DBD3 !default;
$BCOLOR_INVALID:#CEBBBB !default;

.valid{ background:$BCOLOR_VALID; }
.invalid{ background:$BCOLOR_INVALID; }

/* interactions */

@includeCore 'base/interactions.scss';
@includeCore 'base/types.scss';


/* -- http://www.knacss.com/ -- */
@media print {
    p, blockquote {orphans: 2; widows: 2;}
    blockquote, ul, ol {page-break-inside: avoid;}
    h1, h2, h3, caption { page-break-after: avoid;}
}
