/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

time{
	display:inline;
}


/* Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3. */
audio,canvas,video{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

