@mixin coreIcon($name,$iconName:''){
  @if $iconName==''{ $iconName:$name; }
  .icon.#{$name}{background:url('COREIMG/silk_icon_set/#{$iconName}.png');}
}

.icon_wrap div{height:30px;padding-left:28px}
.icon{width:16px;height:16px;margin:2px 3px 2px 0;text-indent: -99999px;}/* pourquoi pas en display inline-block ? */
li .icon,.button .icon{margin:0 2px 0 0}

@include coreIcon('page_add','page_white_add');
@include coreIcon('page_delete','page_white_delete');
@include coreIcon('page_edit','page_white_edit');
@include coreIcon('add','add');
@include coreIcon('edit','pencil');
@include coreIcon('editText','page_white_text');
@include coreIcon('delete','delete');
@include coreIcon('refresh','arrow_refresh');
@include coreIcon('reload','arrow_rotate_clockwise');
@include coreIcon('select','page_go');
@include coreIcon('view','page_white_go');
@include coreIcon('merge','arrow_merge');
@include coreIcon('back','arrow_left');
@include coreIcon('rename','textfield_rename');

/* messages */
@include coreIcon('info','information');
@include coreIcon('help','help');
@include coreIcon('warning','error');
@include coreIcon('error','exclamation');

/* booleans */
@include coreIcon('enabled','bullet_green');
@include coreIcon('disabled','bullet_red');
@include coreIcon('tick','tick');
@include coreIcon('cross','cross');

/* toggle */
@include coreIcon('toggle_plus','bullet_toggle_plus');
@include coreIcon('toggle_minus','bullet_toggle_minus');

/* folders */
@include coreIcon('folder_add','folder_add');
@include coreIcon('folder_edit','folder_edit');
@include coreIcon('folder_delete','folder_delete');