@includeCore 'base/icon';

@include coreIcon16('pageAdd','page_white_add');
@include coreIcon16('pageEdit','page_white_edit');
@include coreIcon16('pageDelete','page_white_delete');
@include coreIcon16('add','add');
@include coreIcon16('edit','pencil');
@include coreIcon16('delete','cross');
@include coreIcon16('ok','accept');
@include coreIcon16('editText','page_white_text');
@include coreIcon16('select','shape_square_go');
@include coreIcon16('view','zoom_layer');
@include coreIcon16('rename','textfield_rename');

/* messages */
@include coreIcon16('info','information');
@include coreIcon16('help','help');
@include coreIcon16('warning','error');
@include coreIcon16('error','exclamation');

/* booleans */
@include coreIcon16('enabled','bullet_green');
@include coreIcon16('disabled','bullet_red');
@include coreIcon16('tick','tick');
@include coreIcon16('cross','cross');

/* toggle */
@include coreIcon('toggle_plus','bullet_toggle_plus');
@include coreIcon('toggle_minus','bullet_toggle_minus');

/* folders */
@include coreIcon('folder_add','folder_add');
@include coreIcon('folder_edit','folder_edit');
@include coreIcon('folder_delete','folder_delete');