$JQueryUI:false !default;

$InteractionDefaultBackgroundColor:$InteractionDefaultColor !default;
$InteractionDefaultTextShadow:false !default;
$InteractionDefaultBackgroundColor:false !default;
$InteractionHoverBackgroundColor:$InteractionHoverColor !default;
$InteractionCurrentBackgroundColor:$InteractionCurrentColor !default;

a{
  color:$InteractionDefaultColor;
  @if $InteractionDefaultTextShadow{ text-shadow:$InteractionDefaultTextShadow; }
}
@if $InteractionCurrentColor == $InteractionHoverColor{
  a:hover,a.current{color:$InteractionCurrentColor}
}@else{
  a.current{color:$InteractionCurrentColor}
  a:hover{color:$InteractionHoverColor}
}
a[href^="tel:"]{ text-decoration:none; }

$__moreSelector:'';

ul.clickable.linksList{
	> li{
		padding:0;
		> a{ display:block; padding:12px 8px; }
	}
}


@if $JQueryUI{ $__moreSelector:'.ui-state-default,.ui-widget-content .ui-state-default,'; }
#{$__moreSelector}div.clickable,ul.clickable li{
  background:$InteractionDefaultBackgroundColor;
  color:findBestFgColor($InteractionDefaultBackgroundColor);
  cursor:pointer;
}
@if $JQueryUI{ $__moreSelector:'.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited,'; }
#{$__moreSelector}div.clickable a,ul.clickable li a{color:findBestFgColor($InteractionDefaultBackgroundColor); text-decoration:none;}

@if($InteractionHoverBackgroundColor){
  @if $JQueryUI{ $__moreSelector:'.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus,'; }
  #{$__moreSelector}div.clickable:hover,ul.clickable li:hover{ background:$InteractionHoverBackgroundColor; color:findBestFgColor($InteractionHoverBackgroundColor); }
  @if $JQueryUI{ $__moreSelector:'.ui-state-hover a, .ui-state-hover a:hover,ui-state-focus a,ui-state-focus a:hover,'; }
  #{$__moreSelector}div.clickable:hover a,ul.clickable li:hover a{ color:findBestFgColor($InteractionHoverBackgroundColor); }
}

@if($InteractionCurrentBackgroundColor){
  @if $JQueryUI{ $__moreSelector:'.ui-state-active, .ui-widget-content .ui-state-active,'; }
  #{$__moreSelector}ul.clickable li.current{ background:$InteractionCurrentBackgroundColor; color:findBestFgColor($InteractionCurrentBackgroundColor); }
  @if $JQueryUI{ $__moreSelector:'.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited,'; }
  #{$__moreSelector}ul.clickable li.current,ul.clickable li.current a{ color:findBestFgColor($InteractionCurrentBackgroundColor); }
}