$HeaderMenuShadow:false !default;
$HeaderMenuBorderRadius:false !default;
$HeaderMenuBorder:false !default;
$HeaderMenuBackground:false !default;
$HeaderMenuColor:false !default;
$HeaderMenuFontsize:false !default;
$HeaderMenuUppercase:false !default;
$HeaderMenuMargin:false !default;
$HeaderMenuLinkBold:true !default;

$HeaderMenuLinkMargin:1px 2px !default;
$HeaderMenuLinkWidth:false !default;
$HeaderMenuLinkBorder:false !default;
$HeaderMenuLinkBorderBottom:false !default;
$HeaderMenuLinkBackground:false !default;
$HeaderMenuLinkBorderRadius:false !default;
$HeaderMenuLinkShadow:false !default;
$HeaderMenuLinkTextShadow:false !default;
$HeaderMenuLinkAlign:false !default;
$HeaderMenuLinkCurrentBackground:false !default;
$HeaderMenuLinkCurrentColor:false !default;
$HeaderMenuLinkCurrentBorderBottom:false !default;
$HeaderMenuLinkCurrentTextUnderlined:false !default;
$HeaderMenuLinkHoverBackground:false !default;
$HeaderMenuLinkHoverColor:false !default;
$HeaderMenuLinkHoverShadow:false !default;
$HeaderMenuLinkHoverBorderBottom:false !default;
$HeaderMenuLinkCurrentAndHoverColor:false !default;
$HeaderMenuLinkCurrentAndHoverBackground:false !default;
$HeaderMenuLinkCurrentOrHoverBackground:false !default;
$HeaderMenuLinkCurrentOrHoverColor:false !default;
$HeaderMenuLinkCurrentOrHoverShadow:false !default;
$HeaderMenuLinkCurrentOrHoverBorderBottom:false !default;

nav{
	margin:2px 0; padding:0;
}
nav ul{
	list-style:none;
	margin:0; padding:0;
}
nav li{margin:1px; padding:0}
nav li a{text-decoration: none;text-shadow:none;}
nav li a:focus{outline: none}
nav li a:hover{text-decoration: underline;text-shadow:none;}

$HeaderNavTopFloat:true !default;
@if $HeaderNavTopFloat{ header nav.top,nav.top ul{float:left} }

nav.top li{float:left;display:block;display:inline-block;}
nav.top li a,nav.top li.separator{margin:0;padding:3px 6px;display:block;}
/*menu.right li a, menu.left li a{padding:5px;}*/
nav.right li,nav.left li{margin:2px 0}
nav.right.nomarg li,menu.left.nomarg li{margin:0}

nav.left ul ul{
	margin-left:8px;padding-left:1px;
	border-left:1px dotted #BBB;
}

header nav,div.header nav{
  @if $HeaderMenuFontsize{ font-size:$HeaderMenuFontsize; }
  @if $HeaderMenuMargin{ margin:$HeaderMenuMargin; }
}

// the compiler automaticly remove empty
header nav,div.header nav,ul.pager a,table.table tr.head{
	@if $HeaderMenuShadow{ @include boxShadow($HeaderMenuShadow,5px); }
	@if $HeaderMenuBorderRadius{ @include borderRadiusBottom(5px); }
	@include border($HeaderMenuBorder,true);
	@include background($HeaderMenuBackground);
	@if $HeaderMenuColor{ color:$HeaderMenuColor; }
	@if $HeaderMenuUppercase{ text-transform:uppercase; }
}

header nav li a,div.header nav li a,ul.pager a{
	/*background-color: rgba(0,0,0,0.3);*/
	@include border($HeaderMenuLinkBorder,true);
	@if $HeaderMenuLinkBorderBottom{ border-bottom:$HeaderMenuLinkBorderBottom; }
	@include background($HeaderMenuLinkBackground);
	@if $HeaderMenuLinkColor{ color:$HeaderMenuLinkColor; }
	@if $HeaderMenuLinkBorderRadius{ border-radius:$HeaderMenuLinkBorderRadius; }
	@if $HeaderMenuLinkMargin{ margin:$HeaderMenuLinkMargin; }
	/*text-shadow:0 0 1px #EFEFEF;*/
	@if $HeaderMenuLinkShadow{ text-shadow: -1px 0 1px $HeaderMenuLinkShadow,0 1px 1px $HeaderMenuLinkShadow,1px 0 1px $HeaderMenuLinkShadow,0 -1px 1px $HeaderMenuLinkShadow; }
	@if $HeaderMenuLinkTextShadow{ text-shadow:$HeaderMenuLinkTextShadow; }
	@if $HeaderMenuLinkBold{ font-weight: bold; }
	@if $HeaderMenuLinkAlign{ text-align:$HeaderMenuLinkAlign; }
}
header nav.top li.separator{
	/* padding:3px 6px 4px + margin:1px 2px; + border */
	$__padding:3px 6px 4px;
	@if $HeaderMenuLinkMargin{
		$__padding:nth($__padding,1) + nth($HeaderMenuLinkMargin,1) nth($__padding,2) + nth($HeaderMenuLinkMargin,2) nth($__padding,3) + nth($HeaderMenuLinkMargin,1);
	}
	@if $HeaderMenuLinkBorder{
		$__padding:nth($__padding,1) + 1px nth($__padding,2) nth($__padding,3) + 1px;
	}
	padding:$__padding;
}

header nav li a.current,header nav li a:hover,
div.header nav li a.current,div.header nav li a:hover,
ul.pager .selected a,ul.pager .page a:hover{
	@include background($HeaderMenuLinkCurrentOrHoverBackground);
	@if $HeaderMenuLinkCurrentOrHoverShadow{ text-shadow: -1px 0 1px $HeaderMenuLinkCurrentOrHoverShadow,0 1px 1px $HeaderMenuLinkCurrentOrHoverShadow,1px 0 1px $HeaderMenuLinkCurrentOrHoverShadow,0 -1px 1px $HeaderMenuLinkCurrentOrHoverShadow; }
	@if $HeaderMenuLinkCurrentOrHoverColor{ color:$HeaderMenuLinkCurrentOrHoverColor; }
	@if $HeaderMenuLinkCurrentOrHoverBorderBottom{ border-bottom:$HeaderMenuLinkCurrentOrHoverBorderBottom; }
}

header nav li a.current,
div.header nav li a.current,
ul.pager .selected a{
	@include background($HeaderMenuLinkCurrentBackground);
	@if $HeaderMenuLinkCurrentColor{ color:$HeaderMenuLinkCurrentColor; }
	@if $HeaderMenuLinkCurrentBorderBottom{ border-bottom:$HeaderMenuLinkCurrentBorderBottom; }
	@if $HeaderMenuLinkCurrentTextUnderlined{ text-decoration:underline; }
}

header nav li a:hover,
div.header nav li a:hover,
ul.pager a:hover{
	text-decoration:none;
	@include background($HeaderMenuLinkHoverBackground);
	@if $HeaderMenuLinkHoverColor{ color:$HeaderMenuLinkHoverColor; }
	@if $HeaderMenuLinkHoverShadow{ text-shadow: -1px 0 1px $HeaderMenuLinkHoverShadow,0 1px 1px $HeaderMenuLinkHoverShadow,1px 0 1px $HeaderMenuLinkHoverShadow,0 -1px 1px $HeaderMenuLinkHoverShadow; }
	@if $HeaderMenuLinkHoverBorderBottom{ border-bottom:$HeaderMenuLinkHoverBorderBottom; }
}

header nav li a.current:hover,
div.header nav li a.current:hover{
	@if $HeaderMenuLinkCurrentAndHoverColor{ color:$HeaderMenuLinkCurrentAndHoverColor; }
	@include background($HeaderMenuLinkCurrentAndHoverBackground);
}

$VariableMenuPadding:0 0 0 5px !default;
$VariableMenuColor:false !default;
$VariableMenuUppercase:false !default;
$VariableMenuBackground:#CCC !default;
$VariableMenuCurrentColor:false !default;
$VariableMenuCurrentBackground:false !default;
$VariableMenuRadiusBottomRight:10px 25px !default;
$VariableMenuRadiusTopLeft:10px 25px !default;
$VariableMenuLiMargin:false !default;
$VariableMenuWidth:false !default;
$VariableMenuAlign:false !default;

#page nav.top{padding:$VariableMenuPadding;}
#page nav.top{margin-bottom:0}
#page nav.top li{@if $VariableMenuLiMargin{ margin:$VariableMenuLiMargin; } @else { margin-bottom:0; }}
@if $VariableMenuColor{ #page nav.top li a:hover{color:$VariableMenuColor} }
#page nav.top li a{
	padding:2px 6px 3px;
	@if $VariableMenuWidth{ width:$VariableMenuWidth; }
	@if $VariableMenuAlign{ text-align:$VariableMenuAlign; }
	@if $VariableMenuColor{ color:$VariableMenuColor; }
	@if $VariableMenuRadiusBottomRight { border-bottom-right-radius:$VariableMenuRadiusBottomRight; }
	@if $VariableMenuRadiusTopLeft { border-top-left-radius:$VariableMenuRadiusTopLeft; }
	@if $VariableMenuBackground{ @include background($VariableMenuBackground); }
	@if $VariableMenuUppercase{ text-transform:uppercase; }
}
#page nav.top li a.current{
	position: relative; z-index: 2; /* couvre l'ombre, si existe, du div suivant */
	@if $VariableMenuCurrentBackground{ @include background($VariableMenuCurrentBackground); }
	@if $VariableMenuCurrentColor{ color:$VariableMenuCurrentColor; }
}

#page .fixed nav{padding:5px 10px;}
