/* flashMessage & Frame */
.flashMessage,.frame,.frameCentered{
	border:1px solid #AAA;
	padding:10px;
	margin-bottom: 10px;
}
.frame h5,.frameCentered h5{text-align:center;}

.flashMessage,.frameCentered{
	width:420px;
	margin:0 auto 10px auto;
	text-align:center;
}

.flashMessage{
	@if $PAGE_FIXED{
  	position:absolute;
  	top:40px;z-index:1;
  	left:50%; margin-left:-210px;
	}
	box-shadow:0 0 15px 2px #999;
}

.message{
	padding:10px;
	margin:5px 0;
	border-radius:1px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
}
.smallinfo .message,.message.smallinfo{
	margin:0;
	padding:3px 5px;
	background:rgba(77,77,77,0.25);
}
.message.error{
	border:1px solid #B80000;
	@extend .boxError;
}

.message.success{
	border:1px solid #2EB82E;
	background:#D6F5D6;
	color:#001500
}

.mWarning{
	@extend .message;
	@extend .boxWarning;
	border:1px solid #E07308;
}

.message.info{
	border:1px solid #428aab;
	background:#bdc7da;
	color:#000546;
}

.mGray{
	@extend .message;
	@extend .boxGray;
	border:1px solid #888;
}


.boxWarning{
	background:#FFDDAA;
	color:#ad2d00;
}
.boxError{
	background:#efafaf;
	color:#8A0000;
}
.boxGray{
	background:#AAA;
	color:#111;
}