@includeCore 'base/html5.scss';

$PAGE_100:true !default;
$PAGE_FIXED:false !default;
$PAGE_VERSION:1 !default;

$HeaderBackground:false !default;
$HeaderColor:false !default;
$HeaderBorderRadius:false !default;
$HeaderPadding:false !default;
$HeaderBorder:false !default;
$HeaderHeight:0 !default;
@if $HeaderHeight==0{
	@if $PAGE_FIXED{
		$HeaderHeight:33px;
	}@else{
		$HeaderHeight:false;
	}
}

$ContainerWidth:false !default;
$ContainerBackground:false !default;
$ContainerShadow:false !default;
$ContainerContext:false !default;

$PageWidth:false !default;
$PageBackground:false !default;
$PagePaddingBottom:true !default;

$FixedVariableShadow:false !default;
$FixedBackground:false !default;
$FixedColor:false !default;
$FixedBorder:false !default;
$FixedLinkColor:false !default;
$FixedVariableMargin:false !default;
$VariableBackground:false !default;
$VariableColor:false !default;
$VariableBorder:false !default;
$VariableShadow:false !default;
$FixedVariableBackground:#FFF !default;
$FixedVariableColor:false !default;
$FixedVariableBorder:false !default;
$VariableContentBackground:false !default;
$VariableAutoContentPadding:true !default;
$VariablePadding:-1 !default;
@if $VariablePadding==-1{
	@if $PAGE_VERSION==1{ $VariablePadding:false; }
	@else{ $VariablePadding:8px 10px; }
}

$IE6_VARIABLE_WIDTH:700px !default;

$PageShadowedBowBackground:#FFF !default;
$PageShadowedBowBorder:false !default;
$PageShadowedBowShadowColor:#888 !default;


html{
	/* Prevents iOS text size adjust after orientation change, without disabling user zoom. */
	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */
}
html,body{ @if $PAGE_100{ height:100%; } @else { min-height:100%; }}
body/*,.mceContentBody*/{
	font:normal /*62.5%*/80% Ubuntu,'Droid Sans','Segoe UI',Corbel,'DejaVu Sans','Bitstream Vera Sans',Helvetica,Verdana,sans-serif;
	@include background($BodyBackground); color:$BodyColor;
	margin:0;padding:0;
	/* @include webkitAntialiased; */
	// http://stackoverflow.com/questions/11589985/webkit-text-aliasing-gets-weird-during-css3-animations
	-webkit-backface-visibility: hidden;
}
input,textarea{
	font:normal 1.05em Ubuntu,'Droid Sans','Segoe UI',Corbel,'DejaVu Sans','Bitstream Vera Sans',Helvetica,Verdana,sans-serif;
}
body.mceContentBody{
	@if $VariableBackground{background:$VariableBackground;}
	@else if $FixedVariableBackground{background:$FixedVariableBackground;}
	@else if $PageBackground{background:$PageBackground;}
	@else if $ContainerBackground{background:$ContainerBackground;}

	@if $VariableColor{ color:$VariableColor; }
}

@includeCore 'base/interactions.scss';

#container pre,#container code,kbd,samp{
	font:normal 1.07em 'Ubuntu Mono','UbuntuBeta Mono',Monaco,Menlo,"Courier New",monospace;
}

body #container{
	@if $PAGE_100{ position:relative; height:auto; min-height:100%; }
	/*position:absolute;top:0;left:0;right:0;bottom:0;*/
	/*overflow-x:hidden;*/
	@if $ContainerWidth{
		@if $ContainerWidth==true{ width:998px; }
		@else{ width:$ContainerWidth; }
		margin:0 auto;
	}@else{
		/*width:100%; */min-width:998px;
	}
	@include background($ContainerBackground);
	@if $ContainerShadow{ @include boxShadow($ContainerShadow); }
	@if $ContainerContext{ @extend .context; }
}
@if $ContainerWidth==true{
	@media(min-width:1200px){
		body #container{ width: 1180px; }
	}
}
@if false==$PAGE_FIXED{
	html > body #container{height:auto;}
}

header,div.header{
	@if $HeaderShadow{ @include boxShadow($HeaderShadow,5px); }
	@if $HeaderBorderRadius{ @include borderRadiusBottom(5px); }
	@if $HeaderPadding{ padding:$HeaderPadding; }
	@if $HeaderBorder{ @include border($HeaderBorder); }
	@if $HeaderHeight{ height:$HeaderHeight; }
	display:block;
	/*width:98%;
	margin:0 auto; padding:1px 0;*/

	/*width:100%;*/
	z-index:11;

	@if $PAGE_FIXED{
		position:fixed;_position:absolute;top:0;left:0;right:0;
	}
}
header,div.header,table tr.head th,table thead th,.flashMessage{
	@include background($HeaderBackground);
	@if $HeaderColor{ color:$HeaderColor; }
}


@if $HeaderColor{ header a,div.header a,header a:hover,div.header a:hover{color:$HeaderColor;} }

header div{font-size:0.95em}
header div.right{
	float:right;text-align:right;
	padding:2px 3px;

}
header div.right a{font-size:8.5pt}

$FooterBackground:false !default;
$FooterColor:false !default;
$FooterFontSize:0.75em !default;
$FooterPadding:false !default;
$FooterPaddingBottom:4px !default;
$FooterLinkColor:false !default;
footer,div.footer{
	@include background($FooterBackground);
	@if $FooterColor{ color:$FooterColor; }
	font-size:$FooterFontSize;
	@if $FooterPadding{ padding:$FooterPadding; }
	@else if $FooterPaddingBottom{ padding-bottom:$FooterPaddingBottom; }
	text-align:center;
	width:100%;
	clear:both;
}
@if $PAGE_100{
	footer{
		position:absolute;
		bottom:0;
	}
}
@if $FooterLinkColor{
	footer a{ color:$FooterLinkColor !important; }
}

footer a,#breadcrumbs a,h1 a,h2 a{text-decoration:none}


$BreadcrumbsInVariable:true !default;
$BreadcrumbsBackground:false !default;
$BreadcrumbsFontSize:0.88em !default;
$BreadcrumbsShadow:-1 !default;
$BreadcrumbsColor:false !default;
#breadcrumbs{
	$BreadcrumbsPadding:-1 !default;
	$BreadcrumbsMargin:0 0 5px !default;
	@if $BreadcrumbsBackground{
		@if -1==$BreadcrumbsPadding{$BreadcrumbsPadding:2px 3px 3px 5px;}
		$BreadcrumbsMargin:3px 3px 5px;
		background:$BreadcrumbsBackground;
	}
	@if false==$BreadcrumbsInVariable{
		@if $FixedVariableShadow and $BreadcrumbsShadow==-1{ $BreadcrumbsShadow:$FixedVariableShadow; }
		@if $FixedVariableBorder_RADIUS{ border-radius:$FixedVariableBorder_RADIUS; }
		@if false==$BreadcrumbsBackground{
			@if $FixedVariableBackground{ @if -1==$BreadcrumbsPadding{padding:2px 3px 3px 5px;} background:$FixedVariableBackground; }
		}
	}
	@if $BreadcrumbsShadow!=-1 and $BreadcrumbsShadow!=false{ @include boxShadow($BreadcrumbsShadow,3px); }
	@if $BreadcrumbsMargin!=-1 and $BreadcrumbsMargin{ margin:$BreadcrumbsMargin; }
	@if $BreadcrumbsFontSize{ font-size:$BreadcrumbsFontSize; }
	@if $BreadcrumbsPadding{ padding:$BreadcrumbsPadding; }
	@if $BreadcrumbsColor{ color:$BreadcrumbsColor; a{ color:$BreadcrumbsColor !important;} }
}
#breadcrumbs span.last{
	cursor:default;
	@if $BreadcrumbsColor==false{ color:$InteractionCurrentColor; }
}
@if $PAGE_FIXED{
	::-webkit-scrollbar{ width:6px; height:8px ; }
	::-webkit-scrollbar-track{ background:#777; border-radius:2px; -webkit-box-shadow:0 0 1px #000, inset 0 0 1px #CCC; }
	::-webkit-scrollbar-thumb{ background:#000; border-radius:2px; -webkit-box-shadow:inset 0 0 2px #666; }
}

#page{
	@if $PagePaddingBottom and $PAGE_FIXED==false { padding-bottom:20px; }
	@if $PageWidth{
	  width:$PageWidth;
	  margin:0 auto;
	}
	@if $PageBackground{ @include background($PageBackground); }

	@if $PAGE_FIXED{
		@if $PageWidth==false and $PAGE_VERSION==1{ margin:0 3px; }
		@if $PAGE_VERSION==1{
			position:relative;
			padding-top:40px;
		}@else{
			position:absolute;
			top:37px; bottom:16px;
			left:0; right:0;
			/* http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/quick-tip-styling-scrollbars-to-match-your-ui-design/ */
			/* http://css-tricks.com/custom-scrollbars-in-webkit/ */
			scrollbar-face-color:#111; /* IE */
			/*
			scrollbar-highlight-color: #fff;
			scrollbar-3dlight-color: #ccc;
			scrollbar-darkshadow-color: #fff;
			scrollbar-shadow-color: #aaa;
			scrollbar-arrow-color: #000000;
			scrollbar-track-color: #eee;
			*/
		}
		overflow: visible; /* new context for internal clears */
		overflow-x: hidden;
		/*position:absolute;top:40px;bottom:20px;left:5px;right:5px;*/
	}@else{
		position:relative;
		$PageMarginTop:8px !default;
		@if $PageMarginTop{ margin-top:$PageMarginTop; }
	}

	@if $PAGE_VERSION==1{
		div.fixed,div.variable{
			@if $PAGE_FIXED{
				position:relative;
				@if $FixedVariableMargin{ margin:3px; }
				/*position:absolute;right:0;top:0;left:0;bottom:0;*/
			}@else{
				overflow: auto; /* new context for internal clears */
				overflow-x: hidden;
				position:relative;
				@if $FixedVariableMargin{ margin:0 10px; }
			}
			@if $FixedVariableShadow{ @include boxShadow($FixedVariableShadow,3px); }
			@if $FixedVariableBorder_RADIUS{ border-radius:$FixedVariableBorder_RADIUS; }
			@if $FixedVariableBackground{ background:$FixedVariableBackground; }
			@if $FixedVariableBorder{ border:$FixedVariableBorder; }
		}
	}@else{
		@if $PAGE_FIXED==false{
			$PageFixedLayout:false !default;
			//@extend .row;
			display:table; @if $PageFixedLayout{ table-layout:fixed; }@else{ table-layout:auto; } width:100%;
		}
	}
}
@if $PAGE_VERSION==2{
	.col.fixed, .col.variable{
		@if $PAGE_FIXED{
			position:absolute;
			left:2px; right:2px; top:0; bottom:0;
			@if $FixedVariableMargin{ margin:3px; }
			overflow: auto;
		}@else{
			overflow: auto; overflow-x: hidden; /* new context for internal clears */
			position:relative;
			@if $FixedVariableMargin{ margin:0 10px; }
		}
		/* IE <= 7 */
		*float:left;

		z-index:1;

		@if $FixedVariableShadow{ @include boxShadow($FixedVariableShadow,3px); }
		@if $FixedVariableBorder_RADIUS{ border-radius:$FixedVariableBorder_RADIUS; }
		@include background($FixedVariableBackground);
		@if $FixedVariableColor{ color:$FixedVariableColor; }
		@if $FixedVariableBorder{ border:$FixedVariableBorder; }
	}

	.col.fixed{
		@if $PAGE_FIXED{
			position:fixed; _position:absolute; z-index:6;
			top:$HeaderHeight; bottom:14px; _top:0; _bottom:0;
			&.right{left:auto; *float:left;/* for ie7 */}
			&.left{right:auto; *float:right;/* for ie7 */}
		}
		@include background($FixedBackground);
		@if $FixedColor{ color:$FixedColor; }
		@if $FixedBorder{ border:1px solid $FixedBorder; }

		@if $FixedLinkColor{
			a,a:hover{ color:$FixedLinkColor; }
		}
	}
}

#page{
	@if $PAGE_VERSION==1{
		$__pageFixed_or_fixedBackground_or_fixedBorder:false;
		@if $PAGE_FIXED{ $__pageFixed_or_fixedBackground_or_fixedBorder:true }
		@else if $FixedBackground{ $__pageFixed_or_fixedBackground_or_fixedBorder:true }
		@else if $FixedBorder{ $__pageFixed_or_fixedBackground_or_fixedBorder:true }
		@if $__pageFixed_or_fixedBackground_or_fixedBorder{
			div.fixed{
				overflow: auto; /* new context for internal clears */
				overflow-x: hidden;
				@include background($FixedBackground);
				@if $FixedColor{ color:$FixedColor; }
				@if $FixedBorder{ border:1px solid $FixedBorder; }
				@if $PAGE_FIXED{
					position:fixed; _position:absolute; z-index:6;
					top:40px; left:0; right:0; bottom:20px;
				}
			}
		}
	}


	@if $PAGE_VERSION==1{
		@if $PAGE_FIXED{
			div.fixed.right{left:auto; *float:left;/* for ie7 */}
			div.fixed.left{right:auto; *float:right;/* for ie7 */}
		}@else{
			div.fixed.right{float:right;}
			div.fixed.left{float:left;}
		}

		div.fixed h2{ text-align:center; }
	}@else{
		.col.fixed h2{ text-align:center; }
	}

	@if $PAGE_VERSION==1{
		div.variable{
			@include background($VariableBackground);
			@if $VariableColor{ color:$VariableColor; }
			@if $VariableBorder{ border:1px solid $VariableBorder; }
			@if $VariableShadow{ @include boxShadow($VariableShadow); }
			@if $VariablePadding{ padding:$VariablePadding; }
		}
	}@else{
		.col.variable{
			@include background($VariableBackground);
			@if $VariableColor{ color:$VariableColor; }
			@if $VariableBorder{ border:1px solid $VariableBorder; }
			@if $VariableShadow{ @include boxShadow($VariableShadow); }
			@if $VariablePadding{ padding:$VariablePadding; }
			/* IE <= 7 */
			*width:$IE6_VARIABLE_WIDTH;
		}
	}

	@if $PAGE_VERSION==1{
		div.variablep{margin:0;padding:0;float:left; }
	}

	div.overflow{margin:0;padding:0;width:100%;overflow:auto;clear:both}
	div.newContext{ position:relative }
}
.content,#page .content{padding:5px 10px;}


@if false==$PAGE_FIXED{
	@if $PAGE_VERSION==1{
		/* IE <= 6 */
		* html body #page div.variable{
			float:left;
			width:$IE6_VARIABLE_WIDTH;
		}
	}
	/*
	* html body #page > .content{
		overflow:hidden;
	}*/
}

@if $PAGE_VERSION==1{
	$VariablePaddingValue:8px 10px !default;
	#page{
		div.variable.padding{padding:$VariablePaddingValue}
		div.variable.paddingtop{padding:8px 0 0}
		@if $VariableAutoContentPadding{
			@if false==$VariableBackground{
				@if false==$FixedVariableBackground{
					div.variable > div.content{padding:5px 5px 0 0}
				}
			}
		}
		div.variable.padding > div.content{padding:5px 0;}

		div.variable > h1{ margin:0; }
		div.variable.content div.content,div.variable .content div.content{
			clear:both;position:relative;
			@if $VariableContentBackground{ background:$VariableContentBackground; }
		}
		div.variable.content div.content.float_left,div.variable .content div.content.float_left{clear:none}
		div.variable div.content.float_left.noclear{clear:none}
		/*div.variable div.content h2{ margin:2px 0; }*/

		#dynamictabsContent{
			position:relative;
		}
	}
	#page.absolute{
		position:absolute;top:0;bottom:0;left:5px;right:5px;

		div.variable{
			position:absolute;right:0;top:38px;left:0;bottom:20px;
			overflow:auto;
		}
	}

	div.shadowed-box{
		padding:4px 6px; margin:0 5px 10px;
		border-radius:4px;
		@include boxShadow($PageShadowedBowShadowColor,4px);
		background:$PageShadowedBowBackground;
		@if $PageShadowedBowBorder{ border:$PageShadowedBowBorder; }

		h2{font-size:1.3em; margin-top:2px;}
	}
}

/* Width & Height */

.w160{width:160px}
.w200{width:200px}
.w280{width:280px}
.w300{width:300px}
.w350{width:350px}
.w380{width:380px}
.w400{width:400px}
.w420{width:420px}
.w480{width:480px}
.w600{width:600px}
.w640{width:640px}
.w800{width:800px}
.w840{width:840px}

.wp10{width:10%}
.wp20{width:20%}
.wp30{width:30%}
.wp33{width:33.33%;*width:33.3%}
.wp40{width:40%}
.wp50{width:50%}
.wp60{width:60%}
.wp70{width:70%}
.wp80{width:80%}
.wp90{width:90%}
.wp100{width:100%}

.h200{height:200px}
.h300{height:300px}
.h400{height:400px}
.h600{height:600px}

@if $PAGE_FIXED{
	@if $PAGE_VERSION==1{
		#page div.variable.l160{left:170px}
		#page div.variable.l200{left:210px}
		#page div.variable.l280{left:290px}
		#page div.variable.l300{left:320px}
		#page div.variable.l350{left:360px}
		#page div.variable.l380{left:390px}
		#page div.variable.l400{left:410px}
		#page div.variable.l420{left:430px}

		#page div.variable.r160{right:170px}
		#page div.variable.r200{right:210px}
		#page div.variable.r300{right:310px}
		#page div.variable.r350{right:360px}
		#page div.variable.r380{right:390px}
		#page div.variable.r400{right:410px}
		#page div.variable.r420{right:430px}
	}@else{
		#page .l160{left:170px}
		#page .l200{left:210px}
		#page .l280{left:290px}
		#page .r160{right:170px}
		#page .r200{right:210px}
	}
}
@if $PAGE_VERSION==1 or $PAGE_FIXED{
	@if $PAGE_VERSION==1{
		#page.ml160,.ml160{margin-left:170px}
		#page.ml200,.ml200{margin-left:210px}
		#page.ml280,.ml280{margin-left:290px}
		#page.ml300{margin-left:320px}
		#page.ml350{margin-left:360px}
		#page.ml380{margin-left:390px}
		#page.ml400{margin-left:410px}
		#page.ml420{margin-left:430px}
	}@else{
		.ml160{margin-left:170px}
		.ml200{margin-left:210px}
	}

	@if $PAGE_VERSION==1{
		#page.mr160,.mr160{margin-right:170px}
		#page.mr200,.mr200{margin-right:210px}
		#page.mr280,.mr280{margin-right:290px}
		#page.mr300,.mr300{margin-right:310px}
		#page.mr350{margin-right:360px}
		#page.mr380{margin-right:390px}
		#page.mr400{margin-right:410px}
		#page.mr420{margin-right:430px}
	}@else{
		.mr160{margin-right:170px}
		.mr200{margin-right:210px}
	}
}

html body .mr10{margin-right:10px}/* DO NOT put this in #page */
.mr20{margin-right:20px}

html body .ml10{margin-left:10px}
.ml20{margin-left:20px}

html body .mt10,.mtb10{margin-top:10px}
.mt20,div.sepTop.mt20{margin-top:20px}
.mt6{margin-top:6px}

html body .mb10,.mtb10{margin-bottom:10px}
.mb20{margin-bottom:20px}
.mb6{margin-bottom:6px}


@includeCore 'base/messages.scss';
