$H1Color:#FFF !default;
$H1Background:false !default;
$H1_TEXT_SHADOW:false !default;
$PAGE_VERSION:1 !default;

h1,h2,h3,h4,h5,h6{clear:both; margin-top:0;position:relative;}
h1{
  font-size:1.6em;margin-bottom:15px;
  @if $H1Color{ color:$H1Color; } 
  @if $H1Background{ padding:8px 5px; background:$H1Background; }
  @else{ padding:0; }
  @if $H1_TEXT_SHADOW{ text-shadow:$H1_TEXT_SHADOW; }
}
@if $PAGE_VERSION==1{
	h2{font-size:1.4em;margin:4px 0 12px;}
	h3{font-size:1.3em;margin-bottom:10px;}
	h4{font-size:1.18em;margin-bottom:8px;}
	h5{font-size:1.1em;margin-bottom:5px;}
	h6{font-size:1.05em;margin-bottom:5px;}
}@else{
	h2{font-size:1.4em;margin:9px 0 12px;}
	h3{font-size:1.2em;margin:7px 0 10px;}
	h4{font-size:1.1em;margin:4px 0 8px;}
	h5{font-size:1.05em;margin:4px 0 5px;}
	h6{font-size:1em;margin:4px 0 5px;}
	div h2:first-child,div h3:first-child,
		div h4:first-child,div h5:first-child,div h6:first-child{
			margin-top:0;
		}
}


/* http://necolas.github.com/normalize.css/2.0.1/normalize.css */
/* Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome. */
b,strong{ font-weight: bold; }
blockquote{ margin: 1em 40px; }
/* Addresses inconsistent and variable font size in all browsers. */
small{ font-size: 80%; }
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,sup{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { top: -0.5em; }
sub{ bottom: -0.25em; }


abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}

/* - */




hr{
  height:1px;
  background:#BBB;
  border:0;
}
img{border:0}

textarea, table, td, th, code, pre, samp, div, p, ul {
  word-wrap:break-word;
  -webkit-hyphens:auto;
  -moz-hyphens:auto;
  -ms-hyphens:auto;
  -o-hyphens:auto;
  hyphens:auto;
}
a{
	word-wrap:normal;
  -webkit-hyphens:manual;
  -moz-hyphens:manual;
  -ms-hyphens:manual;
  -o-hyphens:manual;
  hyphens:manual;
}



pre{
  text-align:left;margin:0;overflow:auto;
  -moz-tab-size:4; -o-tab-size:4; tab-size:4;
}
article p{
	text-align:justify;
}
p{
	margin:8px 0;
	line-height:1.3em;
	font-size:1.02em;
}


nav{
	$NavMargin:2px 0 !default; $NavPadding:0 !default;
	margin:$NavMargin; padding:$NavPadding;
}

ul,ol,menu{margin:8px 0; padding-left:35px}/* firefox default : margin:12px 0; padding-left:40px */
ul ul,ul ol,ol ul,ol ol{padding-left:20px}

nav ul,nav ol{list-style:none;}

/* -- http://www.knacss.com/ -- */
@media print {
    p, blockquote {orphans: 2; widows: 2;}
    blockquote, ul, ol {page-break-inside: avoid;}
    h1, h2, h3, caption { page-break-after: avoid;}
}
