/* TODO touch override : do not duplicate code ! */
$_BUTTON_OVERRIDE:TRUE;

/* PAGER.SCSS */
div.pager{height:32px;}
ul.pager{font-size:1em !important;}
ul.pager li a{
  padding:6px 10px;
}

/* BUTTONS.SCSS */

$ButtonBackground:#FFF #F1F1F1;
$ButtonHoverBackground:#F1F1F1 #E5E5E5;
$ButtonFocusBackground:#E5E5E5 #FFF;
$ButtonColor:#111; $ButtonBorder:1px solid #CCC;
$ButtonHoverBorder:1px solid #AAA;

@includeCore 'base/buttonsOverride.scss';

ul.linksList,ul ul.linksList{
  list-style:none;
  margin:0;padding:0;
  border-bottom:$ButtonBorder;
}
ul.linksList{
  > li{/* not a */
    margin:0;
    @include background($ButtonBackground);
    border-top:$ButtonBorder;
    transition:all .4s;
    > a{padding:5px 8px;}
  }
  > li:hover{
    @include background($ButtonHoverBackground);
  }
  > li:focus{
    @include background($ButtonFocusBackground);
  }
}
.col > .linksList, .col.linksList{ margin-right:1px; }
#page ul.linksList{
  a,a:hover,a:focus{
    display:block;
    text-align:left;
  }
}
#page .button{
  margin: 2px;
  padding:6px 8px;
}