/* TODO touch override : do not duplicate code ! */
$_BUTTON_OVERRIDE:true !default;
@if($_BUTTON_OVERRIDE == false){
  @if $BasicButtons==false{ @warn "You must add $BasicButtons:true; in the top of your scss file."; }
}
$IE_COMPATIBILITY:false;

/* PAGER.SCSS */
div.pager{height:32px;}
ul.pager{font-size:1em !important;}
ul.pager li a{
  padding:6px 10px;
}

$ButtonBackground:false !default; $ButtonHoverBackground:false !default; $ButtonFocusBackground:false !default;
$ButtonBorder:false !default; 

@if($_BUTTON_OVERRIDE == true){
	$BasicButtons:true;
	@includeCore 'base/buttonsOverride.scss';
}

ul.linksList,ul ul.linksList{
  list-style:none;
  margin:0;padding:0;
}
ul.linksList,nav.left ul{
  > li{/* not a */
    margin:0;
    @include background($ButtonBackground);
    border-top:$ButtonBorder;
    border-bottom:$ButtonBorder;
    transition:all .4s;
  }
  > li + li{
  	border-top:0;
  }
  > li:hover{
    @include background($ButtonHoverBackground);
  }
  > li:focus{
    @include background($ButtonFocusBackground);
  }
}
ul.linksList>li>a,nav ul>li>a{ padding:6px 8px !important; text-decoration:none; }

.col > .linksList, .col.linksList{ margin-right:1px; }
/* cf smallsizes */
#page ul.linksList,nav.left ul{
  a,a:hover,a:focus{
    display:block;
    text-align:left;
  }
}

nav.left ul{
	box-shadow:1px 1px 0 rgba(0,0,0,0.3);
	border-radius:6px;
}
nav.left ul>li,nav.top ul>li>a{border:$ButtonBorder;}
nav.top ul>li + li>a{border-top:0;}

/* cf smallsizes */
nav.left ul>:first-child{ @include borderRadiusTop(6px); }
nav.left ul>:last-child{ @include borderRadiusBottom(6px); }

input.submit,button,.button{
  margin:3px 2px;
  padding:6px 8px !important;
}